In [11]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

# Задача 1.1.1

In [3]:
check = """sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 """
check

'sleep totwrk age male hrwage\n3113   3438  32   1    7.07 \n2920   5020  31   1    1.43 \n2670   2815  44   1   20.53 \n3083   3786  30   0    9.62 \n3448   2580  64   1    2.75 \n4063   1205  41   1   19.25 '

In [4]:
df = pd.read_csv(io.StringIO(check), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [5]:
df['y_pred'] = 3525.14 + (-0.16)*df['totwrk'] + 1.62*df['age'] + 51.84*df['male'] + (-9.88)*np.log(df['hrwage'])

In [6]:
df['residual'] = df['sleep'] - df['y_pred']
df

   sleep  totwrk  age  male  hrwage       y_pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

# Задача 1.1.2

In [7]:
check2 = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''
check2

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46  '

In [8]:
df = pd.read_csv(io.StringIO(check2), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [9]:
df['y_pred'] = -1.71 + 0.21*np.log(df['capital']) + 0.71*np.log(df['labour'])
df

   output  capital  labour    y_pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [10]:
df['residual'] = np.log(df['output']) - df['y_pred']
df. round(2)

   output  capital  labour  y_pred  residual
0    9.25     2.61     184    2.19      0.03
1    3.66     1.32      91    1.55     -0.25
2   28.78    22.09     426    3.24      0.12
3    4.12    10.74      72    1.82     -0.41
4    2.89     1.16      46    1.04      0.02

# Задача 1.2.1

In [11]:
TSS = 100.35
ESS = 47.56
RSS = TSS - ESS
round(RSS, 2)

52.79

In [12]:
R2 = ESS/TSS
round(R2, 2)

0.47

# Задача 1.2.2

In [13]:
TSS = 240.82
RSS = 93.52
ESS = TSS - RSS
round(ESS, 2)

147.3

In [14]:
R2 = ESS/TSS
round(R2,2)

0.61

# Задача 1.2.3

In [15]:
ESS = 418.38
RSS = 782.83
TSS = ESS + RSS
round(TSS, 2)

1201.21

In [16]:
R2 = ESS/TSS
round(R2, 2)

0.35

# Задача 1.2.4

In [22]:
ren = np.array((-0.24, 0.41, 1.22, -0.93, -0.37, -1.33, 0.16, -0.27, 0.06, 1.29))

In [23]:
RSS = np.square(ren).sum().round(2)
print('RSS =', RSS)

RSS = 6.25

In [24]:
n = len(ren)
k = 2
s = np.sqrt(RSS / (n - k - 1)).round(2)
print('s =', s)

s = 0.94

# Задача 1.2.5

In [90]:
check3 = '''sleep totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''
check3

'sleep totwrk age y.hat\n51.88     3438  32  51.00\n48.67     5020  31  44.43\n44.50     2815  44  53.72\n51.38     3786  30  49.53\n57.47     2580  64  54.92\n67.72     1205  41  60.36\n53        2113  35  56.53\n48.80     3608  47  50.46\n56.13     2353  32  55.50\n50.30     2851  30  53.41'

In [91]:
df = pd.read_csv(io.StringIO(check3), sep='\s+')
df

   sleep  totwrk  age  y.hat
0  51.88    3438   32  51.00
1  48.67    5020   31  44.43
2  44.50    2815   44  53.72
3  51.38    3786   30  49.53
4  57.47    2580   64  54.92
5  67.72    1205   41  60.36
6  53.00    2113   35  56.53
7  48.80    3608   47  50.46
8  56.13    2353   32  55.50
9  50.30    2851   30  53.41

In [92]:
sleep_eq = smf.ols(formula='sleep~totwrk+age', data=df).fit()

In [93]:
# TSS
TSS = sleep_eq.centered_tss.round(2)
# ESS 
ESS = sleep_eq.ess.round(2)
# RSS
RSS = sleep_eq.ssr.round(2)
print('TSS =', TSS)
print('ESS =', ESS)
print('RSS =', RSS)

TSS = 366.26
ESS = 173.15
RSS = 193.11

# Задача 1.2.6

In [26]:
check4 = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40'''
check4

'log(output) log(capital) log(labour) y.hat\n2.22            0.96        5.21     2.19 \n1.30            0.28        4.51     1.47 \n3.36            3.10        6.05     3.23 \n1.42            2.37        4.28     1.56 \n1.06            0.15        3.83     0.85 \n6.17            5.62        8.94     6.15 \n0.77            0.52        3.87     0.94 \n1.42            0.15        4.68     1.61 \n0.90           -0.13        3.56     0.57 \n1.35            1.25        4.28     1.40'

In [27]:
df = pd.read_csv(io.StringIO(check4), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [30]:
labour_eq = smf.ols(formula = 'np.log(output)~np.log(capital)+np.log(labour)', data=df).fit()

PatsyError: Error evaluating factor: NameError: name 'capital' is not defined
    np.log(output)~np.log(capital)+np.log(labour)
                   ^^^^^^^^^^^^^^^

In [1]:
# не работает формула, почему-то выдает ошибку

# Задача 1.2.7

In [49]:
s = 0.378
n = 935
k = 5
RSS = round(((s ** 2) * (n - k - 1)), 3)
print('RSS =', RSS)

RSS = 132.739

# Задача 1.2.8

In [50]:
s = 0.383
n = 935
k = 4
RSS = ((s ** 2) * (n - k -1))
R2 = 0.178
TSS = round(RSS / (1 - R2), 3)
print('TSS =', TSS)

TSS = 165.962

# Задача 1.2.9

In [51]:
s = 0.389
n = 935
k = 3
RSS = ((s ** 2) * (n - k -1))
R2 = 0.149
ESS = round((RSS * R2) / (1 - R2), 3)
print('ESS =', ESS)

ESS = 24.666

# R^2 adj

# Задача 2.1

$$
R^2_{adj} = 1 - (1-R^2)*\frac{(n-1)}{(n-k)}
$$

In [52]:
n=526
k=5
R2=0.288

In [53]:
R2adj= 1 - (1-R2)*(n-1)/(n-k)

In [54]:
round(R2adj, 2)

0.28

# Задача 2.2

$$
R^2_{adj} = 1 - (1-R^2)*\frac{(n-1)}{(n-k)}
$$

In [62]:
n=935
k=6
R2=0.201

In [63]:
R2adj= 1 - (1-R2)*(n-1)/(n-k)

In [64]:
round(R2adj, 3)

0.197

# Задача 2.3

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')

In [19]:
df_sleep = df.loc[0:9, ('sleep', 'totwrk', 'age')]
df_sleep['sleep_div_60'] = (df_sleep['sleep'] / 60).round(2)
sleep_eq = smf.ols(formula = 'sleep_div_60~totwrk+age', data = df_sleep).fit()
df_sleep['y.hat'] = sleep_eq.fittedvalues.round(2)
df_sleep[['sleep_div_60', 'totwrk', 'age', 'y.hat']]

   sleep_div_60  totwrk  age  y.hat
0         51.88    3438   32  51.00
1         48.67    5020   31  44.43
2         44.50    2815   44  53.72
3         51.38    3786   30  49.53
4         57.47    2580   64  54.92
5         67.72    1205   41  60.36
6         53.00    2113   35  56.53
7         48.80    3608   47  50.46
8         56.13    2353   32  55.50
9         50.30    2851   30  53.41

In [21]:
# R^2
R2 = sleep_eq.rsquared.round(2)
# adj R^2
R2_adj = sleep_eq.rsquared_adj.round(2)
print('R^2 =', R2)
print('R^2_adj =', R2_adj)

R^2 = 0.47
R^2_adj = 0.32

# Задача 2.4

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')

In [32]:
df_labour = df.loc[0:9, ('output', 'capital', "labour")]
df_labour['log(output)'] = (np.log(df_labour['output'])).round(2)
df_labour['log(capital)'] = (np.log(df_labour['capital'])).round(2)
df_labour['log(labour)'] = (np.log(df_labour['labour'])).round(2)
labour_eq = smf.ols(formula = 'np.log(output)~np.log(capital)+np.log(labour)', data=df_labour).fit()
df_labour['y.hat'] = labour_eq.fittedvalues.round(2)
df_labour[['log(output)', 'log(capital)', 'log(labour)', 'y.hat']]

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [33]:
# R^2
R2 = labour_eq.rsquared.round(2)
# adj R^2
R2_adj = labour_eq.rsquared_adj.round(2)
print('R^2 =', R2)
print('R^2_adj =', R2_adj)

R^2 = 0.99
R^2_adj = 0.98

# Задача 3.1 Sleep equation

In [19]:
check5 ='''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [20]:
df = pd.read_csv(io.StringIO(check5), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [21]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [22]:
df['Факт'].mean()

3316.6666666666665

In [23]:
TSS = np.sum((df['Факт'] - df['Факт'].mean())**2)

In [24]:
TSS

945233.3333333334

In [25]:
ESS = np.sum((df['Fitted'] - df['Факт'].mean())**2)
ESS

288096.9463873332

In [26]:
RSS = TSS - ESS
RSS

657136.3869460002

In [27]:
RSS = np.sum((df['Fitted'] - df['Факт'])**2)
RSS

467092.85505400004

In [28]:
R2 = ESS/TSS
R2

0.30478923692985843

In [29]:
#SER

$$
SER = \sqrt(RSS)
$$

In [30]:
SER = np.sqrt(RSS)
SER

683.4419178350125

# Задача 3.2 Sleep equation (smsa only)

In [31]:
check6 ='''i   Факт  Fitted  Остаток 
1   2670 3132.491 -462.491
9   3090 3370.083 -280.083
56  2985 2835.360 149.640 
76  3660 3248.540 411.460 
100 2618 2863.070 -245.070'''

In [32]:
op = pd.read_csv(io.StringIO(check6), sep='\s+')
op

     i  Факт    Fitted  Остаток
0    1  2670  3132.491 -462.491
1    9  3090  3370.083 -280.083
2   56  2985  2835.360  149.640
3   76  3660  3248.540  411.460
4  100  2618  2863.070 -245.070

In [33]:
op['Факт']

0    2670
1    3090
2    2985
3    3660
4    2618
Name: Факт, dtype: int64

In [35]:
op['Факт'].mean()

3004.6

In [38]:
TSS = np.sum((op['Факт'] - op['Факт'].mean())**2)
TSS

698643.2

In [39]:
ESS = np.sum((op['Fitted'] - op['Факт'].mean())**2)
ESS

258113.57327000005

In [40]:
RSS = TSS - ESS
RSS

440529.6267299999

In [48]:
R2 = ESS/TSS
R2

0.36944977532165213

In [49]:
R2_adj = 1 - (1-R2)*(100-1)/(100-4)
R2_adj

0.34974508080045374

In [50]:
SER = np.sqrt(RSS)
SER

737.6280757061787

In [51]:
# Ответы не сходятся с ответами Никиты Вячеславовича во всех заданиях этого блока

# Задача 3.3 Sleep equation (men only)

In [53]:
check7 ='''i   Факт  Fitted  Остаток 
1   3113 3061.481  51.519 
9   3018 3087.341 -69.341 
45  3363 3268.521  94.479 
187 3390 3228.976 161.024 
280 2955 3399.060 -444.060'''

In [54]:
sz = pd.read_csv(io.StringIO(check7), sep='\s+')
sz

     i  Факт    Fitted  Остаток
0    1  3113  3061.481   51.519
1    9  3018  3087.341  -69.341
2   45  3363  3268.521   94.479
3  187  3390  3228.976  161.024
4  280  2955  3399.060 -444.060

In [55]:
sz['Факт']

0    3113
1    3018
2    3363
3    3390
4    2955
Name: Факт, dtype: int64

In [56]:
sz['Факт'].mean()

3167.8

In [57]:
TSS = np.sum((sz['Факт'] - sz['Факт'].mean())**2)
TSS

158202.8

In [58]:
ESS = np.sum((sz['Fitted'] - sz['Факт'].mean())**2)
ESS

85145.79085899991

In [59]:
RSS = TSS - ESS
RSS

73057.00914100008

In [60]:
R2 = ESS/TSS
R2

0.5382065984862463

In [76]:
R2_adj = 1 - (1-R2)*(280-1)/(280-4)
R2_adj

0.6909089886040881

In [77]:
SER = np.sqrt(RSS)
SER

368.32993265956475

# Задача 3.4 Sleep equation (women only)

In [66]:
check8 ='''i   Факт  Fitted  Остаток 
1   3083 2945.903 137.097 
9   2858 2920.662 -62.662 
45  3730 3328.629 401.371 
187 3376 3503.722 -127.722
280 3405 3215.073 189.927'''

In [67]:
rp = pd.read_csv(io.StringIO(check8), sep='\s+')
rp

     i  Факт    Fitted  Остаток
0    1  3083  2945.903  137.097
1    9  2858  2920.662  -62.662
2   45  3730  3328.629  401.371
3  187  3376  3503.722 -127.722
4  280  3405  3215.073  189.927

In [68]:
rp['Факт']

0    3083
1    2858
2    3730
3    3376
4    3405
Name: Факт, dtype: int64

In [69]:
rp['Факт'].mean()

3290.4

In [70]:
TSS = np.sum((rp['Факт'] - rp['Факт'].mean())**2)
TSS

443693.2

In [71]:
ESS = np.sum((rp['Fitted'] - rp['Факт'].mean())**2)
ESS

308026.2607070005

In [72]:
RSS = TSS - ESS
RSS

135666.9392929995

In [73]:
R2 = ESS/TSS
R2

0.6942325478664098

In [78]:
R2_adj = 1 - (1-R2)*(280-1)/(280-4)
R2_adj

0.6909089886040881

In [79]:
SER = np.sqrt(RSS)
SER

368.32993265956475

# Задача 3.5 Labour equation (in levels)

In [81]:
check9 ='''i   Факт  Fitted Остаток
2   3.664 0.457   3.207 
11  3.246 5.666  -2.420 
24  2.666 -0.625  3.292 
101 2.181 6.952  -4.771 
349 4.307 2.278   2.029 
501 3.660 11.353 -7.694'''

In [83]:
ms = pd.read_csv(io.StringIO(check9), sep='\s+')
ms

     i   Факт  Fitted  Остаток
0    2  3.664   0.457    3.207
1   11  3.246   5.666   -2.420
2   24  2.666  -0.625    3.292
3  101  2.181   6.952   -4.771
4  349  4.307   2.278    2.029
5  501  3.660  11.353   -7.694

In [84]:
ms['Факт']

0    3.664
1    3.246
2    2.666
3    2.181
4    4.307
5    3.660
Name: Факт, dtype: float64

In [85]:
ms['Факт'].mean()

3.287333333333333

In [92]:
TSS = np.sum((ms['Факт'] - ms['Факт'].mean())**2)
TSS

2.932215333333334

In [93]:
ESS = np.sum((ms['Fitted'] - ms['Факт'].mean())**2)
ESS

108.47870833333333

In [94]:
RSS = TSS - ESS
RSS

-105.546493

In [95]:
R2 = ESS/TSS
R2

36.995478162927085

In [105]:
R2_adj = 1 - (1-R2)*(501-1)/(501-4)
R2_adj

37.21275469107353

In [106]:
SER = np.sqrt(RSS)
SER

/var/folders/12/ynd2fxtx00d_lft37z73xfhc0000gn/T/ipykernel_1727/2839489752.py:1: RuntimeWarning: invalid value encountered in sqrt
  SER = np.sqrt(RSS)

nan

# Задача 3.6  Labour equation (in log)

In [99]:
check10 ='''i   Факт  Fitted Остаток
2   1.299 1.347  -0.049 
11  1.177 1.427  -0.250 
24  0.981 0.344   0.637 
101 0.780 1.006  -0.226 
349 1.460 1.177   0.283 
501 1.297 1.730  -0.433'''

In [100]:
ad = pd.read_csv(io.StringIO(check10), sep='\s+')
ad

     i   Факт  Fitted  Остаток
0    2  1.299   1.347   -0.049
1   11  1.177   1.427   -0.250
2   24  0.981   0.344    0.637
3  101  0.780   1.006   -0.226
4  349  1.460   1.177    0.283
5  501  1.297   1.730   -0.433

In [101]:
ad['Факт']

0    1.299
1    1.177
2    0.981
3    0.780
4    1.460
5    1.297
Name: Факт, dtype: float64

In [102]:
ad['Факт'].mean()

1.1656666666666666

In [103]:
TSS = np.sum((ad['Факт'] - ad['Факт'].mean())**2)
TSS

0.3046273333333333

In [104]:
ESS = np.sum((ad['Fitted'] - ad['Факт'].mean())**2)
ESS

1.1204070000000002

In [107]:
RSS = TSS - ESS
RSS

-0.8157796666666668

In [108]:
R2 = ESS/TSS
R2

3.677959517749557

In [109]:
R2_adj = 1 - (1-R2)*(501-1)/(501-4)
R2_adj

3.694124263329534

In [110]:
SER = np.sqrt(RSS)
SER

/var/folders/12/ynd2fxtx00d_lft37z73xfhc0000gn/T/ipykernel_1727/2839489752.py:1: RuntimeWarning: invalid value encountered in sqrt
  SER = np.sqrt(RSS)

nan