In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as smf

# Задача 1.1 sleep equation #1

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [23]:
model = smf.ols(data=df, formula='sleep~totwrk+age+male+smsa+south').fit()
hat_y = model.predict()

In [24]:
hat_y

array([3067.10583631, 2894.49476254, 3150.37075855, 2910.94924531,
       3303.75993003, 3472.6900719 , 3301.14172725, 3023.8804497 ,
       3251.79465914, 3104.60304347, 2591.50610935, 3415.84208454,
       3157.91546836, 3239.22243895, 3168.41882119, 3124.69052876,
       3124.03220455, 2983.72677965, 3263.51683965, 3369.7221562 ,
       3044.02875134, 3060.57363178, 3285.21066833, 3135.81565247,
       2807.46105408, 3101.03250584, 3002.42541199, 3129.80523542,
       3214.60758145, 3188.66233468, 2991.99642153, 3018.92151018,
       3136.97517574, 3199.27100653, 3074.11687847, 2978.93503636,
       3180.58032354, 3450.79249364, 3119.08529912, 3152.00332795,
       3122.41382707, 3150.48016232, 3167.61968067, 3243.68584648,
       3168.42290594, 3243.74401963, 3220.49507817, 3498.46452305,
       3299.07444219, 2768.41983181, 3036.14254043, 3096.3245862 ,
       3227.14627219, 3133.77301111, 3173.5133905 , 3232.01790829,
       3266.75411605, 3224.56832679, 3228.83170859, 3226.16578442,
       3042.22097012, 3197.73429487, 3250.013365  , 3266.25307091,
       3311.20090314, 3474.34197885, 3156.88642263, 2892.63359288,
       3134.63372687, 3480.67365249, 3095.41115735, 3075.25648869,
       3195.8865877 , 3463.83074705, 3130.45409835, 3196.60424578,
       3242.42051883, 3159.70973302, 3333.3342485 , 3213.96760429,
       3319.79895115, 3666.47965375, 3357.19874772, 3137.155918  ,
       3188.51834058, 3170.89302988, 3434.61048522, 2958.67562419,
       3231.54898782, 3411.71459359, 3180.90979055, 3260.78279568,
       3253.59850953, 3293.49858688, 3277.80007636, 3338.01716353,
       3325.20357955, 3132.6159362 , 3114.68837499, 2958.73795247,
       3207.50390025, 3144.72620793, 3089.14181198, 3158.88558789,
       3375.95633572, 3153.058332  , 3137.65132555, 3460.34067775,
       3408.44215134, 3165.11758012, 3387.52499047, 3048.04928688,
       3082.35707564, 3352.43164813, 3412.96536841, 3111.14728208,
       3130.00818518, 2852.13217915, 3181.08625324, 3165.91259498,
       3320.58292242, 3390.50728668, 3375.34035636, 3110.74300163,
       3067.10905501, 3330.31657944, 3256.19888672, 3449.23969261,
       3411.19977812, 2959.93910846, 3188.99395952, 3167.91231598,
       3060.27875511, 3308.50849189, 2999.89617847, 2956.25035167,
       3370.00178009, 3495.90464733, 3473.15748044, 3150.44348454,
       3302.79048586, 3338.40547905, 3307.32251832, 3241.55114159,
       3205.20464231, 3191.04779839, 3159.33633885, 3222.35237107,
       3206.5522113 , 2871.81629096, 3029.56965691, 3159.60498951,
       3210.33531389, 3299.65057914, 3486.86239291, 3042.21135493,
       3649.36027275, 2986.4199907 , 3128.28055785, 3179.1138895 ,
       3292.60607789, 3279.91450728, 3168.54025905, 3418.30361324,
       3455.87123464, 3045.79952333, 3169.19082875, 3035.42893032,
       3249.84394469, 3167.12820395, 3161.08168463, 3281.51297171,
       3068.73231704, 3134.71675071, 3450.42234764, 3278.07977063,
       3102.73077613, 3184.8558098 , 3155.30865377, 3237.99479588,
       3290.9773027 , 3351.9217703 , 3317.91127712, 3238.38810311,
       3253.42098597, 3290.31318698, 2979.16043522, 3416.29135302,
       3272.7102377 , 3294.60630402, 3299.22316693, 3365.8453537 ,
       3214.5269765 , 3460.10339872, 3193.81215311, 3284.33099324,
       3195.31684725, 3339.76250932, 3335.57406541, 3177.52597669,
       3377.12237993, 3512.73021252, 3291.72459619, 3124.14240813,
       3356.74626054, 3210.40237281, 3270.19935123, 3192.12664633,
       3115.99118023, 3221.65854957, 3304.31438092, 3321.30286278,
       3032.36416848, 3293.40272914, 3322.07565285, 3283.53469321,
       3167.93605271, 3278.85515079, 3193.36848131, 3207.80366148,
       3144.66146075, 3171.7840564 , 3468.23728637, 3269.84687691,
       3158.16966604, 3185.36820637, 3119.56243   , 3368.12693994,
       3205.31102221, 3225.36497804, 3172.25967534, 3302.28944072,
       3250.10922274, 3209.71998042, 3131.16941522, 3263.43842199,
       3070.96587408, 3212.95094387, 3255.78166522, 2995.4001779 ,
       3278.42335918, 3031.41006064, 3287.79019604, 3132.03164292,
       3168.43815873, 3390.11340394, 3272.93805545, 3231.54898782,
       3346.09129571, 3217.18086658, 3246.47806359, 3306.84130269,
       3096.17843427, 3254.68920087, 3459.42085242, 3177.93926735,
       3330.62507252, 3248.00274116, 3430.23412004, 2902.35290406,
       3153.04141336, 3137.75528654, 3218.87984901, 3229.78828209,
       3324.21836114, 3322.48478838, 3220.21860261, 3186.35184246,
       3643.69744546, 3349.01599428, 3184.20388208, 3532.84010015,
       3292.75953327, 3284.60736895, 3202.11203537, 3196.66347981,
       3307.78919743, 3244.44639546, 3264.28305569, 3331.94690747,
       3446.55375554, 3257.21290395, 3350.92267442, 3342.9305395 ,
       3159.45384587, 3436.9406998 , 3247.12850884, 2985.76060562,
       3384.73032498, 3172.81101467, 3287.79341474, 3460.03618589,
       3323.4829773 , 3396.34448921, 3301.59585081, 3288.92993071,
       3090.65460938, 3225.7071545 , 3439.93991466, 3371.45939873,
       3283.97205205, 3278.23080711, 3608.44927242, 3084.68880216,
       3689.1309629 , 3076.82836619, 3515.24036957, 3184.83904507,
       3416.97696411, 3300.08630159, 3060.29551984, 3129.43841526,
       3174.88718549, 3375.62634727, 3139.65162206, 3278.24757184,
       3376.23608405, 3489.16962965, 3595.04238495, 3232.07319419,
       3057.92920298, 3310.34091681, 3275.81567854, 3129.51766219,
       3213.23378646, 3284.98043168, 3251.53331193, 3194.44724572,
       3169.7805821 , 3414.82884982, 3242.85787767, 3215.25966308,
       3272.01108058, 3031.26606653, 3204.73954553, 3320.27601166,
       3126.47031097, 3246.08948701, 3571.60887754, 3538.54134145,
       3386.83445804, 3481.84286134, 3124.07213051, 3212.04713022,
       3212.4617789 , 3238.73327398, 3348.64044228, 3222.45295945,
       3091.98699595, 3115.15427159, 3248.47896508, 2968.72182957,
       3411.37430727, 3403.24363833, 3240.70328919, 3551.83927622,
       2926.6894957 , 3163.55358158, 3387.21493138, 3308.45646147,
       3167.36306409, 3265.49136121, 3173.86737675, 3374.26065553,
       3145.19210453, 3262.57692372, 3244.57520714, 3331.39061321,
       3265.68008228, 3103.42031806, 3199.08955213, 3229.37763462,
       3411.2334615 , 3563.73318878, 3351.48547233, 3141.19794891,
       3432.51097565, 3340.43135568, 3278.87400298, 3395.03375192,
       3501.47483557, 3549.73976665, 3184.79514737, 3162.47224436,
       3140.38919319, 3236.72431599, 3155.24863723, 3335.91450564,
       3179.16826844, 3348.32380917, 3111.19364543, 3199.02642405,
       3252.66426067, 3224.71305032, 3220.60843007, 3140.25814014,
       3325.17329826, 3405.77853891, 3284.56505357, 3054.40654065,
       3592.2109713 , 3233.92650219, 3245.24405351, 3112.61451592,
       3507.99443049, 3294.92025717, 3180.71144697, 3525.64760359,
       3156.67851793, 3058.13053366, 3379.439831  , 3216.36969197,
       3296.8071314 , 3447.46081736, 3214.40936232, 3471.90776649,
       3211.72909232, 3172.98354653, 3187.21648906, 3248.45338497,
       3052.31666989, 3140.32686491, 3252.40133114, 3395.82652542,
       3328.85729494, 3106.2141175 , 3082.19389791, 3520.89846621,
       3085.90521094, 3098.56775843, 3670.08008054, 3544.23454987,
       3391.40659399, 3214.612466  , 3312.87246207, 3129.69885552,
       3213.32249466, 3315.00077046, 3214.20561275, 3323.22477841,
       3386.22147309, 3181.54011574, 3260.93946977, 3260.90030271,
       3737.26499484, 3177.13373034, 3196.44754223, 3177.20078926,
       3146.84401147, 3197.40331593, 3241.90270895, 3274.41266312,
       3163.76543441, 3150.91252945, 3405.31723634, 3204.58151341,
       3236.01936736, 3286.36610686, 3341.9307142 , 3159.52669631,
       3195.30008252, 3170.37522   , 3417.73062462, 3397.86516556,
       3558.10310844, 3165.1214038 , 3171.60180219, 3532.62038565,
       3240.93274333, 3242.43743747, 3144.02463191, 3191.36258812,
       3565.18680621, 3344.5695054 , 3375.83562729, 3173.58211527,
       3554.98074896, 3104.88115541, 3382.81085772, 3404.37121445,
       3261.70905843, 3422.65088906, 3209.19406729, 3321.08707912,
       3077.80427723, 3573.93924603, 3557.98469446, 3174.8186441 ,
       3299.54499905, 3434.72383712, 3135.27785916, 3471.70308049,
       3742.92782213, 3579.34387443, 3234.24280386, 3517.8240524 ,
       3195.86267343, 3303.39133688, 3312.542544  , 3393.20458248,
       3484.48635371, 3562.35539257, 3362.21328759, 3265.94306588,
       3530.29017107, 3277.9470281 , 3334.46577275, 3471.53543319,
       3640.34500324, 3501.47483557, 3631.26989473, 3402.15419786,
       3405.06943515, 3396.41076562, 3483.8887214 , 3277.16707121,
       3399.24217926, 3396.41076562, 3478.03153544, 3438.23204647,
       3545.68743788, 3429.11130402, 3479.37180097, 3354.03220001,
       3376.67147506, 3478.21378964, 3447.04996289, 3183.99119267,
       3490.149181  , 3535.58269844, 3646.00783053, 3580.88531673,
       3242.13767624, 3460.1713646 , 3389.75461667, 3272.31299964,
       2991.26202818, 3078.97095004, 3685.44371805, 3549.73976665,
       3092.5885591 , 3496.20924635, 3329.55114591, 3203.47228434,
       3131.99171696, 3546.77745387, 3239.52204626, 3096.8655573 ,
       3234.79902775, 3108.57801545, 3309.79672701, 3017.20254431,
       3266.22590847, 2942.88829831, 3126.62376635, 3228.02617157,
       3845.26779475, 3055.06425988, 3366.36804813, 3102.57732075,
       3538.41411208, 3434.89821236, 3492.98059464, 3256.51052812,
       3429.81367985, 3225.92120194, 3267.68594601, 3445.8584221 ,
       3267.10973869, 3236.15927671, 3123.24816291, 3456.55590931,
       3466.97543849, 3492.80972864, 3283.37593167, 3174.88718549,
       3649.89651321, 3322.66613563, 3208.14243585, 3401.05851481,
       2996.83452817, 3094.0893224 , 3242.32314915, 3468.47620179,
       3281.91646965, 3115.8678817 , 3312.85569734, 3194.77413992,
       3184.24456108, 3335.54375465, 3825.44789925, 3320.54761996,
       3290.01997616, 3230.56917541, 3255.69144508, 3259.07435197,
       3151.35854977, 3415.52433717, 3246.89122981, 3131.63209311,
       3229.06914154, 3311.28945743, 3541.83054843, 3327.60100697,
       3251.36888333, 2848.57200976, 3255.20228011, 3382.44161867,
       3322.35067054, 3567.21252893, 3252.27179002, 3286.25197245,
       3382.36783181, 3555.997339  , 3411.36053696, 3403.03416762,
       3518.84379077, 3089.87298663, 3345.53265292, 3076.85152741,
       3007.94118038, 3563.76593573, 3613.28242414, 3082.28653695,
       3092.62208856, 3407.3648694 , 3419.78272726, 3410.01875948,
       3227.08882846, 3497.79094604, 3257.16582846, 3153.74163135,
       3518.45536809, 3630.10863523, 3180.4844658 , 3075.55939824,
       3179.86118299, 3572.91210438, 3118.1918537 , 3244.33226104,
       3240.10706897, 3130.62673736, 3271.85913713, 3384.24267195,
       3102.2487607 , 3541.24552572, 3219.41457753, 3293.19897957,
       3152.48197077, 3295.34478212, 3220.55740645, 3332.69235757,
       3236.32718508, 2952.68670251, 3515.20684011, 3211.6620334 ,
       3044.06379274, 3317.38458148, 3032.74135687, 3084.46908766,
       3498.64342193, 3366.03800561, 3249.12873497, 3495.45722223,
       3196.05696173, 3123.16585119, 3465.08061491, 3238.17705009,
       3226.65816809, 3266.68869352, 3323.70921274, 3343.94455673,
       3186.48058377, 3170.72920626, 3180.53324805, 3208.04657811,
       3133.28873069, 3088.10050787, 3221.71448136, 3055.84251001,
       3266.34825329, 3483.94715562, 3172.90214178, 3382.02981048,
       3336.60983908, 3535.58269844, 3202.41728028, 3446.70479203,
       3266.16126845, 3197.0510659 , 3169.94989525, 3301.17525671,
       3260.20507642, 3227.45398276, 3258.53640475, 3232.23611085,
       3184.11899756, 3345.40705994, 3329.95149552, 3270.58377269,
       3197.32917785, 3196.24867721, 3543.0868364 , 3260.14505988,
       3389.06343835, 3252.6810254 ])

In [36]:
df['slp2'] = hat_y**2/3600
df['slp3'] = hat_y**3/216000
df['slp4'] = hat_y**4/12960000
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,slp2,slp3,slp4
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,14,0,13,7.070004,1024,2613.093948,133577.261621,6.828260e+06
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,11,0,0,1.429999,961,2327.249981,112270.214669,5.416092e+06
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,21,0,0,20.529997,1936,2756.898866,144754.226177,7.600491e+06
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,12,0,12,9.619998,900,2353.784864,114195.804536,5.540303e+06
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,44,0,33,2.750000,4096,3031.897132,166944.337613,9.192400e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,27,0,18,NaN,2025,2837.779335,151170.807437,8.052992e+06
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,465,210,18,0,4,NaN,1156,3487.073425,205916.732500,1.215968e+07
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,19,0,17,NaN,1369,2952.373837,160419.449635,8.716511e+06
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1481,480,31,0,22,NaN,2916,3190.486386,180212.679349,1.017920e+07
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,8,1,9,NaN,900,2938.870515,159320.139322,8.636960e+06

In [37]:
model2 = smf.ols(data=df, formula='sleep~totwrk+age+male+smsa+south+slp2+slp3+slp4').fit()
model2.params

Intercept    659589.097361
totwrk          -43.375569
age             721.677267
male          23252.941195
smsa         -14470.001420
south         25358.789388
slp2           -384.498147
slp3              4.285592
slp4             -0.017787
dtype: float64

In [38]:
R2_un = model2.rsquared
R2_re = model.rsquared

In [39]:
F_obs = (R2_un - R2_re)/(1-R2_un)*(len(df)-9)/3
F_obs.round(3)

2.183

In [40]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-6).round(3)

2.618

$ F_{obs} < F_{cr} \Rightarrow H_0$ не отвеграем

# Задача 1.2 sleep equation #2

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [9]:
model = smf.ols(data=df, formula='sleep~totwrk+south+totwrk*south+age+age^2+male+smsa+marr').fit()
hat_y = model.predict()

In [10]:
hat_y

array([3059.73210324, 3027.3532931 , 3150.08651553, 2906.22542169,
       3304.32495418, 3480.81361623, 3302.92001791, 3018.64249591,
       3251.64695154, 3103.22487284, 2565.18950959, 3435.48812074,
       3158.75168435, 3237.92262278, 3169.29461401, 3120.06025587,
       3122.75399245, 2972.88448972, 3267.28811204, 3377.97886255,
       3009.64160796, 3056.94109341, 3285.50384309, 3105.60212329,
       2794.37928098, 3094.11963493, 2997.01296231, 3107.78603826,
       3212.83986045, 3185.04950028, 2986.37752476, 3009.99265338,
       3102.52139932, 3196.8985099 , 3071.30306935, 2942.6247526 ,
       3177.60506258, 3462.25764756, 3113.90561167, 3122.66600304,
       3121.69124716, 3146.23996748, 3142.26267596, 3307.58157647,
       3164.02292152, 3242.90995636, 3278.91751039, 3463.61040424,
       3332.14810262, 2749.8503227 , 3027.68114617, 3064.56595296,
       3226.40083164, 3133.45832632, 3144.93985452, 3210.00577965,
       3296.51745717, 3273.4668243 , 3227.90935656, 3224.84555694,
       3016.94005673, 3194.84777574, 3249.63090971, 3275.52857856,
       3353.57970955, 3482.27784807, 3178.49358255, 2860.50968939,
       3142.82347343, 3459.00700372, 3093.67335044, 3169.27954805,
       3197.87833154, 3444.67702765, 3134.15343772, 3224.2722725 ,
       3242.23615183, 3241.70751807, 3327.09112543, 3254.58132443,
       3322.97926632, 3682.35034828, 3368.58455203, 3136.51496691,
       3185.9314588 , 3171.70057329, 3405.59870964, 2947.05951488,
       3234.43615022, 3405.07005905, 3181.19672185, 3260.85823633,
       3227.20455105, 3265.00379888, 3277.96836252, 3341.07789272,
       3331.88353228, 3218.60723844, 3109.01127432, 2947.28460974,
       3205.4947824 , 3140.38940354, 3086.95239709, 3164.15121892,
       3373.15388787, 3161.4325238 , 3132.86793379, 3476.946964  ,
       3420.11050151, 3165.36904904, 3391.49114711, 3022.34091931,
       3079.24198984, 3368.40481077, 3422.12997736, 3105.69827994,
       3124.93047832, 2845.27216767, 3177.67688894, 3132.59100688,
       3322.13153478, 3395.78204128, 3402.19502818, 3109.27495171,
       3064.22737923, 3341.17540452, 3255.76487239, 3367.13270592,
       3417.4539146 , 2956.76538795, 3190.21613909, 3231.11799648,
       3056.67121714, 3286.8811218 , 2993.72455618, 2956.55770579,
       3374.30919455, 3514.23249603, 3490.51753594, 3228.29416333,
       3329.51898881, 3350.53457104, 3308.35703785, 3245.36606729,
       3203.72451693, 3209.63894327, 3155.89654356, 3194.44705049,
       3203.6440515 , 2860.92233508, 3032.94725014, 3155.22664576,
       3208.3957128 , 3300.71503858, 3499.61500597, 3038.55713789,
       3668.42941812, 2980.04648885, 3135.39646493, 3180.61444852,
       3297.87152523, 3281.23364544, 3165.13046323, 3402.38334844,
       3452.64372718, 3037.91755387, 3169.93177285, 3039.86576505,
       3262.62859078, 3163.17272529, 3166.30944847, 3285.40267978,
       3043.33329408, 3130.35496747, 3436.62527403, 3308.12117876,
       3078.62541916, 3186.7826152 , 3151.1795746 , 3237.63727067,
       3296.64824606, 3333.20445455, 3334.58666386, 3237.17943359,
       3257.66378658, 3296.20100141, 2981.22596243, 3352.49717047,
       3272.92223671, 3295.6337321 , 3316.66214475, 3374.65185735,
       3216.74814577, 3476.20523983, 3224.85003021, 3272.34907396,
       3230.5543402 , 3321.63109855, 3347.75270513, 3182.90196866,
       3359.26077493, 3500.70601831, 3292.3091686 , 3131.84387654,
       3368.43756625, 3208.96055692, 3311.94281658, 3167.3936531 ,
       3122.25961517, 3228.55965503, 3319.23020503, 3336.75485191,
       3023.62642762, 3294.71317452, 3333.27507536, 3284.79388121,
       3143.25164152, 3263.61254052, 3199.03421007, 3213.6675273 ,
       3149.08172281, 3176.73380199, 3421.96980227, 3303.55152103,
       3167.07867441, 3177.02515641, 3114.03476525, 3380.9237347 ,
       3207.83182884, 3224.38478981, 3181.01848228, 3308.64917469,
       3250.01936213, 3212.28949896, 3130.50055705, 3269.57987515,
       3062.91789741, 3211.15494382, 3264.18290532, 2984.06555491,
       3279.1477306 , 3000.59528278, 3289.21588232, 3105.61234939,
       3168.20059478, 3387.53947536, 3272.62726886, 3234.43615022,
       3387.85908744, 3190.15078457, 3249.45889656, 3313.49957676,
       3093.73263101, 3267.82847342, 3472.090127  , 3156.98279054,
       3323.39783783, 3251.82723346, 3441.596398  , 2900.59276204,
       3153.84725791, 3145.53546634, 3217.40307259, 3237.6629561 ,
       3299.89068024, 3329.63132982, 3222.37361486, 3196.65233418,
       3662.50849283, 3353.09541712, 3193.34275818, 3513.37953874,
       3331.01116217, 3259.10126296, 3208.04205821, 3176.43959544,
       3331.93973963, 3244.33656582, 3264.78428964, 3330.03116793,
       3457.85779299, 3257.60256916, 3333.39768938, 3349.64385144,
       3164.21001116, 3415.59430236, 3292.53516989, 2979.81992898,
       3393.48697926, 3143.75137403, 3293.71115831, 3468.19634084,
       3336.13036257, 3403.91528087, 3306.60467341, 3294.06687176,
       3097.08239159, 3224.84653896, 3390.03178976, 3375.99362284,
       3288.45639017, 3282.58644429, 3543.31876477, 3078.49344541,
       3705.55779146, 3074.4507528 , 3494.59605003, 3186.52233968,
       3371.59640317, 3355.37150495, 3056.81242817, 3128.78908382,
       3176.0160557 , 3349.39105595, 3139.40188649, 3279.41960678,
       3384.78418806, 3447.21307932, 3616.38723131, 3230.49366091,
       3054.35825409, 3311.69512382, 3281.22352484, 3106.50161651,
       3211.74242283, 3264.38026802, 3251.54043284, 3192.17958757,
       3170.70965437, 3397.96254656, 3245.89866078, 3213.84283682,
       3275.99090323, 3001.35817681, 3203.03963163, 3321.94113226,
       3126.11275993, 3250.37554741, 3521.38687965, 3557.34545379,
       3333.72787995, 3422.85273654, 3126.78375643, 3188.42836758,
       3211.10526399, 3238.11107193, 3351.49313383, 3225.15401575,
       3163.19249427, 3092.89195717, 3256.71827444, 2932.01194993,
       3406.73908096, 3390.60712536, 3231.75159795, 3491.93704783,
       2917.98373977, 3159.45824436, 3366.96993794, 3310.06704606,
       3142.61497103, 3236.06583293, 3171.03737771, 3390.67052652,
       3154.24884996, 3245.75247299, 3290.83866444, 3333.86196825,
       3246.18873812, 3097.17383381, 3180.11596566, 3250.12663992,
       3425.18039153, 3514.23377862, 3370.03078763, 3149.93336755,
       3447.29039709, 3352.63498503, 3288.71043928, 3408.553179  ,
       3524.1411804 , 3569.97234494, 3190.08417749, 3167.54809712,
       3144.39944617, 3243.71498833, 3160.21164314, 3348.10646522,
       3175.88545362, 3360.87749744, 3088.73983233, 3196.81413774,
       3271.59787127, 3230.94493279, 3227.79383096, 3140.44004354,
       3330.99149402, 3388.62706362, 3311.2664422 , 3024.61529982,
       3613.6053654 , 3241.18800793, 3283.12597107, 3115.74439062,
       3441.24841676, 3305.1829183 , 3214.61309841, 3545.10262001,
       3164.99275957, 3033.63714226, 3341.41113434, 3223.39397638,
       3268.27201184, 3428.82113542, 3226.01393323, 3417.27113966,
       3214.01057294, 3152.94728849, 3193.30173394, 3261.38994213,
       3048.98002639, 3114.43371674, 3260.01009896, 3384.19801713,
       3335.8452546 , 3105.06403463, 3058.68325889, 3529.91786062,
       3092.15189688, 3092.75036767, 3543.43648385, 3468.38656723,
       3390.95070629, 3220.74272908, 3324.00256436, 3133.65748992,
       3220.35134661, 3335.71173069, 3225.67369561, 3295.85177631,
       3395.4538296 , 3161.87517453, 3265.27011684, 3269.17170392,
       3754.99267273, 3186.1610377 , 3168.97290569, 3156.74711826,
       3125.49618925, 3165.31381512, 3249.92598306, 3293.57940315,
       3172.43475558, 3129.71916378, 3394.24733822, 3209.98920372,
       3213.66391005, 3287.69481161, 3319.32289689, 3168.1539655 ,
       3233.48304872, 3179.39040452, 3431.84450601, 3411.4541094 ,
       3582.15978836, 3140.49192215, 3176.87452468, 3556.05141478,
       3222.11080428, 3219.84265416, 3152.37548418, 3201.57028309,
       3584.86837939, 3355.94944444, 3393.46249651, 3178.89105485,
       3536.05634179, 3103.47260257, 3381.52360935, 3385.77177641,
       3274.7056253 , 3442.56332252, 3177.60242201, 3336.49408805,
       3083.1103331 , 3503.53706042, 3578.37007919, 3240.26719195,
       3309.78228779, 3449.58983767, 3138.63423107, 3493.20931915,
       3760.67546903, 3599.37303139, 3211.98761749, 3474.5533614 ,
       3206.07665637, 3309.87809205, 3327.48672825, 3397.43421894,
       3506.61653352, 3582.08651349, 3378.73421469, 3278.40853712,
       3522.78473342, 3292.07407365, 3318.93134008, 3461.93750976,
       3632.82335411, 3524.1411804 , 3547.6283645 , 3416.27759707,
       3419.76551813, 3414.14589261, 3403.19334455, 3256.38499701,
       3417.04682301, 3414.14589261, 3495.66009136, 3458.58904523,
       3473.43046773, 3444.33067446, 3496.35604243, 3366.64417756,
       3390.16922348, 3495.51936867, 3467.38532099, 3218.95061861,
       3512.5374588 , 3555.58675744, 3668.72304297, 3602.00164381,
       3241.64867282, 3472.00819655, 3394.05086321, 3285.97675666,
       2980.7510955 , 3071.69007326, 3701.43271157, 3569.97234494,
       3085.84047683, 3505.16573516, 3341.79226679, 3183.51479722,
       3131.44228449, 3570.55606677, 3238.8894418 , 3090.98156723,
       3242.58090501, 3086.09966579, 3310.76299713, 3008.20170639,
       3279.23414511, 2939.3728397 , 3096.05060088, 3227.10884016,
       3723.60845128, 3051.17490163, 3374.86489475, 3108.68757821,
       3558.36862334, 3416.13232063, 3515.31932471, 3256.17595969,
       3445.51915494, 3224.76118477, 3272.35835275, 3466.14716068,
       3267.22640627, 3247.9133431 , 3092.45567278, 3468.90677454,
       3478.74364905, 3509.5310029 , 3339.17034751, 3176.0160557 ,
       3664.16932607, 3304.03560199, 3210.61369474, 3385.33006112,
       2969.8191152 , 3066.3093105 , 3216.02446255, 3489.19124629,
       3291.17519079, 3110.56703736, 3323.98041782, 3196.88741262,
       3185.28564439, 3351.84649456, 3673.44223942, 3336.13983962,
       3299.1005888 , 3220.9395789 , 3259.72950825, 3262.54801985,
       3150.98443822, 3437.05180883, 3304.61316158, 3139.6265985 ,
       3236.0951356 , 3297.03014861, 3561.5886215 , 3343.29941356,
       3254.74266301, 2832.44173438, 3259.67982842, 3376.29915131,
       3328.50164157, 3579.40567403, 3252.0142341 , 3261.3419113 ,
       3396.25350634, 3566.75663635, 3416.8322316 , 3319.49190824,
       3528.11290282, 3088.08355036, 3356.75462971, 3078.57743473,
       3006.64556051, 3557.8638211 , 3626.11796996, 3054.57643533,
       3086.24196338, 3416.43414692, 3404.78686602, 3420.05367827,
       3234.19766992, 3482.65502993, 3261.55514756, 3153.46075885,
       3536.47360854, 3648.30076206, 3177.21661015, 3046.39418018,
       3176.27537106, 3589.98523288, 3087.45384005, 3247.7243001 ,
       3239.20850955, 3125.53196814, 3272.03783649, 3389.40083721,
       3100.57216052, 3561.26955374, 3217.29850726, 3294.13480792,
       3148.73745796, 3295.86940437, 3278.05835066, 3344.42814164,
       3239.07118873, 2919.7456266 , 3524.41145602, 3213.44572882,
       3035.74726687, 3328.1913349 , 2998.6600577 , 3060.96966534,
       3521.24025   , 3364.40545349, 3248.58315191, 3509.16506335,
       3205.61833094, 3117.69191897, 3480.84076668, 3237.49654798,
       3199.1736202 , 3270.66186702, 3325.42140594, 3351.6006127 ,
       3191.7117669 , 3175.50916415, 3181.79576996, 3210.34430681,
       3141.54964411, 3081.2546298 , 3224.91834347, 3018.37471293,
       3270.30810693, 3495.88895592, 3173.65977625, 3387.10139663,
       3339.81709753, 3555.58675744, 3174.84610451, 3466.57274713,
       3269.87095136, 3185.80730572, 3175.64842182, 3303.08337548,
       3259.76275207, 3209.54890273, 3258.1573092 , 3231.44695745,
       3189.71640658, 3361.30697411, 3342.32339902, 3269.97455653,
       3186.89266617, 3206.27617129, 3554.37259153, 3268.67575612,
       3383.7578385 , 3268.66916275])

In [11]:
df['slp2'] = hat_y**2/3600
df['slp3'] = hat_y**3/216000
df['slp4'] = hat_y**4/12960000
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,slp2,slp3,slp4
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,14,0,13,7.070004,1024,2600.544595,132616.163077,6.762832e+06
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,11,0,0,1.429999,961,2545.796656,128450.431497,6.481081e+06
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,21,0,0,20.529997,1936,2756.401404,144715.048249,7.597749e+06
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,12,0,12,9.619998,900,2346.151723,113640.762993,5.504428e+06
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,44,0,33,2.750000,4096,3032.934279,167030.007017,9.198690e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,27,0,18,NaN,2025,2855.613024,152598.066558,8.154526e+06
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,465,210,18,0,4,NaN,1156,3509.323478,207890.719727,1.231535e+07
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,19,0,17,NaN,1369,2967.844777,161682.037864,8.808103e+06
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1481,480,31,0,22,NaN,2916,3180.504753,179367.631454,1.011561e+07
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,8,1,9,NaN,900,2967.832804,161681.059461,8.808032e+06

In [20]:
model2 = smf.ols(data=df, formula='sleep~totwrk+south+totwrk*south+age+age^2+male+smsa+marr+slp2+slp3+slp4').fit()
model2.params

Intercept       903709.549754
totwrk             -61.179424
south           -13801.077134
totwrk:south        22.051682
age               1014.415240
age ^ 2            -10.817306
male             29839.097230
smsa            -18909.953902
marr             10375.230973
slp2              -547.236782
slp3                 6.415666
slp4                -0.028140
dtype: float64

In [21]:
R2_un = model2.rsquared
R2_re = model.rsquared

In [22]:
F_obs = (R2_un - R2_re)/(1-R2_un)*(len(df)-9)/3
F_obs.round(3)

1.867

In [23]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-6).round(3)

2.618

$ F_{obs} < F_{cr} \Rightarrow H_0$ не отвеграем

# Задача 1.3 output equation #1

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [38]:
model = smf.ols(data=df, formula='output~capital+labour+wage').fit()
hat_y = model.predict()

In [39]:
hat_y

array([ 1.22906950e+01,  4.57101298e-01,  3.26713978e+01,  8.45249490e+00,
        1.15007554e+00,  4.95323301e+02,  4.96225925e-01,  2.69781742e+00,
        6.93083590e-01,  2.43757091e+00,  5.66564085e+00,  1.92791692e+00,
       -2.55367472e-01,  3.71340262e+00,  3.00062549e+00,  5.58104740e+00,
       -5.65128192e+00,  1.60377117e+01,  2.27977417e+00, -1.63642251e+00,
       -5.20310116e+00,  7.25038098e+00,  4.06867541e+00, -6.25486350e-01,
        3.32128894e+00,  4.22318186e+00,  5.97177164e+00,  6.60880530e+00,
        1.37823245e+01,  5.40857894e+00, -1.68422671e+00,  3.97020603e+00,
        1.11408840e+01, -9.36989184e-01,  9.15360522e+00, -6.27008499e-01,
        4.01437577e+00,  1.68675245e+01,  2.41409083e+00,  3.64642225e+00,
        3.49784717e+01,  5.31658996e+00,  3.26044590e+00,  1.96810268e+01,
        7.68688994e+00,  6.09158964e+00,  3.71223636e+01,  6.83356225e-01,
        5.77238852e+00,  2.03922830e+01,  3.94775369e+00,  8.78354170e+00,
        6.07147791e+01,  1.52278262e+02,  7.88775171e+00,  2.07133501e+02,
       -3.60744533e+00, -3.91912593e-02, -3.15519408e+00, -1.36787904e+00,
        1.06856916e+01,  4.57442522e+01,  2.03041597e+01,  4.45832281e+00,
       -7.15309228e-01,  7.11463113e+00, -2.17550260e-01,  6.32116243e+00,
        1.11421650e+01,  5.26782721e+01,  5.05781479e-01,  2.76544521e+01,
        4.77710711e-01,  1.01811381e+01,  6.00219705e+00,  3.36480812e+00,
        3.28328592e+00,  3.16063828e+01, -3.14241244e+00,  7.04988944e+00,
        2.35068896e+01,  5.87428376e+00, -1.33480957e-01,  2.76603961e+00,
        4.64215788e+00,  7.40464848e+01,  1.04733770e+01,  7.65112318e+00,
        2.02866954e+01,  8.69872864e+00,  1.28020820e+00,  1.02553915e+01,
        2.84398697e+00, -3.81793424e+00,  3.29313529e+00,  2.66255886e+00,
        8.79067109e+00,  1.13304361e+01,  3.39705224e+00,  1.59359752e+00,
        6.95205394e+00,  1.01593348e+01,  4.75820670e+01,  8.65431706e+00,
        8.38602855e+00,  1.14552995e+01,  3.76085485e+01,  4.46933149e+00,
        2.23040916e+01, -9.61063062e-01,  4.99870991e+00,  4.61501780e+01,
        1.01804165e+01, -2.53983908e+00,  9.48812017e+00,  9.55872787e+00,
        3.79499211e-01,  2.79596337e+01, -2.42651250e-01,  1.34451993e+01,
       -1.58978060e+00,  4.95779390e+00,  2.07523674e+01,  1.27183661e+00,
        1.19884086e+00,  1.32281462e+01,  1.44261958e+00,  3.61171132e+00,
        3.54981494e+02,  8.41502066e+00,  1.37660528e+01,  1.80843740e+00,
        1.02217955e+01,  3.83847994e+00,  3.42402327e+00,  1.27323286e+01,
        3.90729352e+00,  3.10788259e+00, -1.73287203e+00,  1.27515450e+01,
       -1.42312255e-01,  3.03213743e+01,  1.28145699e+01,  1.86398683e+00,
        3.33781956e+01,  2.86907964e-01,  4.64279918e+00, -7.44925273e-01,
        2.12048171e+01,  2.76452516e-01, -2.67509149e+00, -3.45496381e+00,
        1.53047889e+00,  7.58256411e+00,  4.30768162e+00,  5.39721282e+01,
        6.07815480e+00,  2.17179378e+00,  4.91875169e+00,  7.44100254e-01,
       -4.74490821e-01,  5.60930801e+01,  6.81330624e+00,  1.02090324e-01,
        1.81563193e+00,  2.78168465e+01,  1.16395801e+01,  1.97284083e+00,
        4.43838535e+00,  4.97704558e+00, -1.99603958e+00,  9.27424299e+00,
       -4.92419167e-01,  8.37526859e+01,  1.37705970e+01,  3.78236533e+01,
        1.38328555e+00, -1.60509579e+00,  1.45927081e+01,  7.22775182e+00,
        1.04219959e+01,  1.80651419e+01,  8.36093705e+00,  9.11090320e+00,
       -4.46728234e+00,  3.15926322e+00, -1.47015074e+00,  1.01360760e+02,
        1.72361744e+01,  1.32439890e+01,  7.86642160e+01,  1.55625616e+01,
        3.86864140e+00,  7.17895591e+00,  3.78282278e+00,  2.08637703e+01,
        1.70653060e+00,  1.60718311e+01,  5.22862052e+00,  8.36165577e+00,
        4.17160331e+00,  2.47923218e+01,  9.93697379e+00,  3.80733626e+00,
        1.87058774e+01,  2.49286903e+01,  7.02184653e+01, -1.81814403e+00,
        1.86934393e+01,  1.14773752e+01,  9.83279123e+00,  5.95475490e+00,
        5.59817220e+00,  5.05141171e-01, -6.68027312e+00, -2.55106914e+00,
        2.20647080e+01,  7.42425579e+01,  5.62522987e+00, -4.38790699e-02,
        1.17650088e+01,  9.96523058e+00,  8.83642816e+00,  5.60900192e+00,
        1.25060808e+01,  1.12574198e+01,  5.16902301e+01, -7.10633522e+00,
        2.67136731e+00,  2.23646254e+00,  6.76167692e+00,  1.41844945e+00,
        3.31297882e+00,  3.44952969e+01,  2.82730630e+00,  4.00207126e+00,
        2.95494485e+00, -1.30099645e+00,  6.45452634e+00,  7.42672890e+00,
        8.33783768e+00,  2.29853215e+00,  5.98282247e+00, -5.62059932e-03,
        2.19865098e+01,  3.54745397e+01,  3.09191128e+01,  1.41110494e+00,
        3.03310041e+00,  4.15121804e+00, -2.93416439e+00, -1.69391491e+00,
        1.51903041e+01,  3.45017581e+01, -3.66280405e+00,  1.02997272e+00,
       -1.67152632e+00,  3.18900379e+00,  2.97144056e+00,  1.22398106e+00,
        3.56965242e+00,  1.92214852e+01,  3.57732418e+00,  3.42467096e+00,
        4.11506214e-01,  1.61154221e+01,  1.90994298e+01,  8.00846918e+00,
        2.66879318e-01, -9.80970307e-01,  6.87398139e+00,  6.77519918e+00,
        4.10835713e-01,  3.89771198e+01,  1.16060543e+01,  3.69850185e+00,
       -2.37445587e+00,  1.03339344e+01,  7.01626724e+00,  1.42102016e+00,
        3.83071969e+00,  4.78151136e+01,  9.85075345e-01,  1.93046062e+01,
        2.56096027e+01,  5.47311467e+01,  1.94828141e+00,  6.55015840e+00,
        1.29287615e+02, -3.54735394e+00,  5.51208173e+00,  8.00610270e+00,
        9.36240924e+00,  1.64287712e+00,  1.12800575e+01, -2.50087816e+00,
        6.55765263e+00,  2.87779097e+01,  1.02825485e+00,  3.81250053e+00,
        2.25127981e+00,  1.87816623e+00, -7.40000435e+00,  2.08068007e+01,
        1.40115976e+01,  8.76570247e-01,  4.51616431e+00, -2.65084165e+00,
       -2.98443977e+00,  6.31757687e+00,  3.82598912e+00,  1.24980669e+01,
       -2.09920219e+00,  3.89204670e+00,  1.71451351e+01, -2.39077335e+00,
        1.21694190e+01,  1.44618395e+00,  6.43916226e+00,  4.20808577e+00,
        2.29435119e+00,  1.02283761e+01,  2.19479207e+01,  1.86547766e+01,
        2.00991804e+00, -5.72520124e-01,  1.89274475e+01,  7.18701507e+00,
       -1.28180815e+00, -2.14683130e+00,  6.68070204e+00,  8.80099337e+00,
        1.49173283e+01, -7.30505180e-01,  1.25375784e+00,  4.23242240e+00,
        6.98099665e+00,  5.40669350e+01,  8.08227947e+00, -8.31700376e-01,
        3.00060085e+01,  1.60466994e+00,  1.51540184e+01,  2.15143991e+02,
        5.68939427e-01,  1.44196403e+01,  1.02991366e+01,  1.28039873e+01,
        2.27834069e+00,  1.90196764e+00, -6.89687081e+00,  3.15491746e+01,
        5.66656020e+00,  4.02683920e+01,  1.39162637e+01,  3.50988212e+00,
        1.20903628e+00,  7.27272551e+00,  3.13376459e+00,  1.26728398e+03,
        1.51065170e+01,  1.20516968e+01,  5.82026926e-01, -2.32941103e-01,
        2.21816634e+00, -2.53995428e-01,  3.88798844e+01,  3.13461966e+00,
        4.57827254e+00,  2.49635570e+00,  1.19191636e+00, -4.91685130e-01,
        1.94399471e+01,  2.92321351e+00,  2.30656547e+01,  8.03882386e+00,
        8.71850040e+00,  1.47498425e+01,  2.27449423e+01,  4.80142318e+00,
        6.75633336e+00, -1.40596582e+00,  6.97713773e+00,  7.70411250e+00,
        9.67020819e+00, -1.95537268e+00,  5.82824611e+00,  1.16582774e+01,
       -1.81386358e+00,  2.23878299e+01,  2.51953618e+01,  2.82489923e+01,
        5.67332301e+00, -1.39204222e+00,  5.51222325e+00,  3.24044365e+01,
        1.12928463e+01,  1.30909128e+01,  1.13490407e+01, -6.78668944e+00,
        1.57746987e-01,  8.73057486e-01, -5.45369554e-02,  4.53831203e+00,
        1.77459944e+01,  3.87064378e+00,  2.57872255e+00,  2.48366412e+01,
        7.79579696e+00,  1.72717642e+00,  4.65409223e+01,  7.68075331e+00,
       -1.48643321e+00,  1.84520801e+00,  3.77991072e+00,  3.82901239e+00,
        1.64953866e+01,  1.10641415e+01, -2.07673881e+00,  5.93988830e+00,
        3.63239511e+00,  1.23891127e+02,  7.48773378e+00,  4.17831310e+00,
       -7.43684254e+00,  8.81425163e+00,  7.85765000e+01,  1.82987251e+00,
        2.32960001e+01,  6.39782275e-02,  1.78543846e+01,  1.22015154e+01,
        3.34446741e+01,  8.69555680e+00, -3.99429591e+00,  5.85166646e+00,
        1.68118584e+00,  3.28799650e-01, -5.73852261e+00,  8.85769840e+00,
       -7.40718459e-01,  1.93398200e+01,  6.05048342e-01, -4.27080820e-01,
        1.13326988e+01,  1.17598975e+01,  8.86251953e+00,  2.50331592e+00,
       -2.58347707e+00,  9.72229759e-01,  6.32525674e+00,  6.81827440e+00,
        1.29859157e+00,  1.24265890e+00, -5.95090290e-01, -3.96339827e+00,
       -1.59210675e+00,  9.34427469e+00,  1.24143398e+01,  3.26122276e+00,
        1.37174408e+00,  1.36980849e+01,  1.21751958e+01,  7.55107487e-02,
        1.55089847e+01,  8.34105274e+00,  5.10622312e+00,  5.39457031e+00,
        2.23595963e+00,  2.45112563e+01,  1.88224475e+00,  1.09635849e+01,
        6.19261934e-01,  1.46274466e+00, -9.91203020e-01, -2.97420764e+00,
        3.95244565e+01, -8.58205818e-01,  2.01568619e+00,  3.03242307e+00,
        5.66163870e-01,  1.04947648e+01,  1.98083235e+00,  5.61147365e+00,
        1.80007856e+01,  2.61976216e+01, -2.20904435e-01,  1.00252597e+01,
        1.03812549e+00,  2.79691943e+00, -6.08975744e+00,  4.79482070e+00,
        7.20080238e+01,  4.58720739e+00,  1.73760945e+01,  1.15912694e+02,
        1.62559676e+01,  4.72260849e+00,  1.26760376e+01,  2.93609182e+00,
        1.13534848e+01, -1.12024073e+00,  5.45220520e-01, -1.24808630e+00,
        9.19530866e+00,  3.21234167e+01,  1.39514035e+02,  2.74045923e+00,
        6.33699389e+00,  2.67136552e+00,  2.08032557e+00,  7.51176071e+00,
        1.45211119e+00,  2.30127878e+01,  4.13590861e+00,  3.93600511e+00,
        1.07751678e+00,  1.07247686e+01,  1.01351314e+01, -2.08707641e+00,
        4.11786577e+00,  2.60485513e+01, -5.51166795e-01,  3.82708882e+00,
        2.29783322e+01,  8.22234807e+00,  2.61676088e+00,  2.83685229e+01,
        1.36092370e+00,  1.39296112e+00,  2.26064841e+01,  7.00129826e+00,
       -6.20941369e-01,  1.27148244e+00, -2.36778426e+00, -5.35357858e+00,
       -4.43615529e+00,  3.39539436e-01,  6.04735129e+01, -1.06678757e+00,
        2.67981127e+00,  4.10182281e+00,  9.80970682e+00,  3.62718985e+00,
        2.44804683e+01,  1.59307283e+00,  1.49278770e+01,  2.49171707e+00,
        2.73347192e+00,  2.50671114e+00, -9.07831796e+00,  1.25972499e+01,
        3.83010049e+00,  4.68515098e+00,  8.50003631e-01,  3.43139360e+01,
        2.14032137e+00,  8.71366604e+00,  6.13462589e+00,  6.50467573e+00,
        7.15760867e+00,  8.97344969e+00,  1.35096162e+00, -1.15845314e+00,
       -8.15487518e-02, -1.70480120e+00,  7.84782537e+00,  1.52259843e+01,
        8.40850370e+00])

In [40]:
df['out2'] = hat_y**2
df['out3'] = hat_y**3
df['out4'] = hat_y**4
df

,capital,labour,output,wage,out2,out3,out4
0,2.606563,184,9.250759,43.080307,151.061183,1856.646929,2.281948e+04
1,1.323237,91,3.664310,27.780016,0.208942,0.095507,4.365659e-02
2,22.093692,426,28.781516,44.467748,1067.420235,34874.111139,1.139386e+06
3,10.737851,72,4.124642,39.734710,71.444670,603.885709,5.104341e+03
4,1.161365,46,2.890150,34.650709,1.322674,1.521175,1.749466e+00
...,...,...,...,...,...,...,...
564,2.625403,20,1.424376,33.477545,0.006650,-0.000542,4.422515e-05
565,1.276386,61,2.109048,26.300732,2.906347,-4.954744,8.446854e+00
566,1.953869,117,6.241870,41.153979,61.588363,483.334718,3.793126e+03
567,1.318527,46,7.902237,66.720139,231.830599,3529.849074,5.374543e+04
568,2.832391,161,6.804085,36.618435,70.702934,594.505886,4.998905e+03

In [41]:
model2 = smf.ols(data=df, formula='output~capital+labour+wage+out2+out3+out4').fit()
model2.params

Intercept   -1.061334e+01
capital     -9.941386e-02
labour       3.636213e-02
wage         3.498227e-01
out2         6.738526e-03
out3        -1.633088e-05
out4         9.095123e-09
dtype: float64

In [42]:
R2_un = model2.rsquared
R2_re = model.rsquared

In [43]:
F_obs = (R2_un - R2_re)/(1-R2_un)*(len(df)-7)/3
F_obs.round(3)

69.533

In [44]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(3)

2.621

$ F_{obs} > F_{cr} \Rightarrow H_0$ отвеграем

# Задача 1.4 output equation #2

In [45]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [46]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
hat_y = model.predict()

In [47]:
hat_y

array([ 2.35989958,  1.34716989,  3.3130779 ,  1.82090689,  1.03983458,
        5.8587148 ,  1.06531002,  1.55498428,  0.81379468,  1.4684784 ,
        1.42691402,  0.72993199,  1.2954135 ,  1.18047975,  1.14403561,
        1.97163239, -1.40792342,  2.64881065,  1.67272941,  0.85864447,
       -0.52432467,  1.62340063,  1.60175018,  0.34378623,  1.47904166,
        1.59523602,  1.82552042,  1.41043394,  2.53071436,  1.8703142 ,
       -0.19605089,  1.56305837,  1.86238377,  0.85801498,  2.17668439,
        1.32592943,  1.34163888,  2.68341674,  1.51511337,  1.10757717,
        3.28302213,  1.82326807,  1.33270466,  0.53995352,  1.56315707,
        1.6835631 ,  3.39917857,  1.1523541 ,  1.62574217,  1.03271288,
        1.65491718,  1.86661549,  3.60003683,  5.0342221 ,  1.73071522,
        5.76252664,  0.48941252,  0.95806217,  0.33583131,  1.03056803,
        2.1978038 ,  3.71648169,  2.87648876,  1.11821811,  0.80414367,
        1.64710272,  0.81197612,  1.56116845,  2.35593082,  3.63663814,
        0.98984735,  2.63958924,  1.40584653,  2.17445702,  1.87794431,
        1.60439783,  1.68841851,  3.23881704,  0.47069217,  2.08203163,
        2.74781709,  1.9503003 ,  1.3105145 , -0.29568828,  1.26494246,
        4.04800838,  2.26550261,  2.03830273,  2.78452614,  0.78793079,
        1.39799063,  2.28597689,  1.41043868,  0.46531524,  1.48710746,
        1.55909222,  2.10060174,  1.29964199,  1.59779943,  1.18949497,
        1.00554508,  1.54127719,  3.68643062,  1.00503937,  2.12426485,
        2.29748873,  3.08901818,  1.62499645,  2.51472242, -0.54725192,
        1.82942344,  3.73343313,  2.23844719,  0.74822874,  1.79754295,
        2.21147893,  1.28033728,  2.80191128,  0.14443161,  2.4125543 ,
        0.73077339,  1.83970359,  2.82701251,  1.14377847,  1.36901282,
        2.4818424 ,  1.09257735,  1.54304681,  5.38099629,  1.09925711,
        2.51276096,  0.99123449,  1.45780059,  1.71938016,  1.50342824,
        2.45153126,  1.09458848,  1.55470048,  0.75664436,  2.19058621,
        1.26193408,  3.17466323,  1.70976115,  0.99811249,  3.41186752,
        0.90943198,  0.7655629 ,  1.24775962,  2.89852706,  1.08726848,
       -0.82050952,  0.68701525,  1.04962846,  1.96933747,  1.54053304,
        3.75554062,  1.28355147,  0.69934151,  0.98955524,  1.27990904,
        1.35047785,  3.98390649,  1.92885484,  1.27054567,  1.39403776,
        3.18432121,  2.39951418,  0.7023917 ,  1.34316577,  1.47366047,
        0.64896607,  2.1470568 ,  0.83742186,  4.54595457,  2.36353683,
        3.17736272,  1.04287267,  1.01912011,  2.51764631,  2.03894889,
        2.27506643,  2.03977106,  1.79965782,  2.21793063, -0.07310235,
        1.64862517,  0.28595602,  4.2619046 ,  2.57596807,  2.36856706,
        3.797344  ,  2.55390767,  1.21310798,  1.816624  ,  0.84549245,
        2.89671325,  1.19667708,  1.72618591,  1.68600668,  2.16028805,
        1.84540138,  3.05236314,  2.07410378,  1.36247294,  2.65120048,
        2.8553276 ,  3.97019593,  0.44718822,  2.65949252,  2.33962166,
        2.21427117,  1.45036621,  1.93643586,  1.41105688, -0.47378644,
        0.68772042,  2.91672676,  4.06564457,  1.91019901,  0.21442993,
        2.34906959, -1.05186358,  0.75279213,  1.47964612,  1.9078989 ,
        2.37705989,  3.65583838, -1.24241332,  1.05794052,  1.54609251,
        1.7041057 ,  0.77983276,  0.68872569,  3.27108143,  1.56885325,
        1.72489302,  1.58898425,  0.51912303,  1.26101045,  2.08919704,
        0.69622913,  1.16378254,  1.92063816,  0.93845179,  2.9107588 ,
        3.43091512,  3.27834145,  1.11543023,  1.70450284,  1.58175682,
       -2.49084787,  0.83341996,  2.43805637,  3.35405131,  0.44359204,
       -1.44831677,  0.04714211,  1.10148157,  1.10064096,  0.43145876,
        1.09938968,  2.74702198,  1.57127225,  1.65831779, -0.23517989,
        2.58384403,  2.78342064,  1.89782194,  0.59694426, -1.34214668,
        2.02563704,  1.65961031,  1.36741818,  3.24262235,  2.3275353 ,
        1.37328568,  0.78581762,  2.23620757,  2.00144217,  0.0838433 ,
        1.64006858,  3.43962462,  1.30054539,  2.68022419,  3.08659676,
        3.32527494,  0.44553456,  1.58540345,  4.50268365,  0.58312337,
        1.46885792,  1.94298907,  1.53024779,  1.40146196,  2.31576942,
        0.79712279,  1.83820721,  3.25244802,  1.04993823,  1.72939766,
        1.34084903, -1.96740353,  0.18872575,  2.86367883,  2.50467125,
        1.46541982,  1.34034654,  0.52623038, -0.20874506,  1.47276263,
        1.55423003,  2.39024796, -0.77450008,  1.7468816 ,  2.71973641,
       -0.01155115,  2.39935676,  1.23507878,  1.87196045,  1.8347086 ,
        1.20588743,  2.24310522,  2.93746068,  1.58342772,  1.52451296,
        0.60985688,  2.81221638,  1.70412178,  0.9208879 ,  0.58246215,
        1.81519122,  2.16189992,  1.4926338 ,  0.62598902,  1.39105625,
        1.20148362,  2.06730977,  3.85407226,  0.99606846,  0.6700241 ,
        3.16293302,  1.34062137,  2.60961157,  4.83128519,  1.06093647,
        2.04047551,  1.25548437,  2.45964635,  1.17721447,  0.87786076,
        0.29406474,  3.17730587,  1.97393183,  3.46541366,  2.0387742 ,
        1.68536539, -1.48548693,  2.06088687,  1.66508213,  7.08477171,
        2.3683455 ,  2.19159264,  1.45342585,  0.72199654,  1.40239487,
        0.86247644,  3.3083156 ,  0.21064122,  1.48028446,  1.65752542,
        1.31741557,  1.12677538,  2.04250973,  1.46251629,  2.93249696,
        2.05335607,  2.06269351,  1.81830053,  2.72185975,  0.72431105,
        2.04684814,  0.85174833,  1.98329961,  1.90276427,  2.26703073,
        0.60486109,  1.40803685,  1.99595604,  0.68749306,  2.81447431,
        2.9954247 ,  3.09312448,  1.3404658 ,  0.72612893,  1.90701982,
        3.36909807,  2.18977719,  2.31622575,  2.25559941,  0.17626663,
        1.39886312,  1.32923817,  0.38185555, -0.72567339,  2.72658798,
        0.87187366,  1.41747515,  3.06350637,  1.62161196,  1.40922408,
        3.8186857 ,  1.4391157 ,  0.73327147,  0.51493224,  1.35913611,
        1.55791061,  2.31718064,  1.73637667,  0.78357674,  1.90088469,
        1.49162379,  4.60820845,  2.08795682,  1.53776294,  0.29960417,
        1.85805567,  3.8747017 ,  1.33570162,  3.01917061,  0.53815758,
        2.74690321,  2.34702787,  3.23662997,  2.10152679, -0.18690735,
        1.76300039,  1.03523913,  1.01507842, -1.39638626,  2.07637387,
        1.24400392,  2.75895492,  0.80150404,  0.89925618,  1.78200937,
        2.16440957,  2.22250129,  1.5334411 ,  1.07900774,  1.2366358 ,
        1.65582596,  1.99003626,  1.52226837,  1.11949065,  1.14134997,
        0.50537695,  0.92342459,  0.40135327,  2.43992061,  0.30783566,
        1.39267337,  2.03789849,  2.13566615,  1.09142518,  2.00762596,
        2.13246369,  1.34154956,  1.88966511,  1.03826981,  2.74581598,
        1.10430346,  2.35258316,  1.34847232,  0.99752617,  0.80755876,
        0.0804874 ,  3.57374537,  0.99420215,  1.3691232 ,  0.95158688,
        1.20188464,  1.22592568,  1.31701884,  1.58844803,  1.43951112,
        3.14144649,  1.30185769,  2.13341762,  0.93996496,  1.43406958,
        0.1971143 ,  1.80864786,  3.80283791,  1.24308204,  2.40335354,
        4.44910821,  2.65449055,  1.60019576,  2.39419208, -0.28412043,
        1.73043201, -0.31371322,  1.14155337,  0.87978155,  2.23873434,
        3.19667689,  5.00317918,  1.3097258 ,  1.35145866,  1.67296572,
        1.09259921,  1.9981821 ,  1.13907163,  2.99713266,  1.76168232,
        1.17422931,  1.38274448,  2.16766179,  1.1893122 ,  0.18039456,
        1.73589801,  3.10774566,  1.04642564,  0.42772151,  3.00899032,
        2.00416893,  1.32456364,  3.12650998,  0.56162474,  1.20601822,
        2.89902608,  1.00646799,  0.96490665,  1.15486815,  0.6076244 ,
        0.12095126,  0.42959918,  1.03101225,  3.80776498,  0.87403014,
        1.09672529,  1.49202459,  1.70499192,  1.39954721,  2.92565562,
        0.85570606,  2.58083101,  1.50976406,  0.98001728,  1.30132877,
       -2.22994703,  2.44380573,  1.63711126,  1.64054955,  0.26568512,
        3.22100352,  1.56602805,  1.88678941,  1.6067065 ,  1.61361806,
        0.90836443,  1.61593065,  1.29352629,  0.97893259,  0.52987338,
        1.00321423,  1.9485324 ,  1.66247313,  2.12637215])

In [48]:
df['out2'] = hat_y**2
df['out3'] = hat_y**3
df['out4'] = hat_y**4
df

       capital  labour     output       wage       out2       out3        out4
0     2.606563     184   9.250759  43.080307   5.569126  13.142578   31.015165
1     1.323237      91   3.664310  27.780016   1.814867   2.444934    3.293741
2    22.093692     426  28.781516  44.467748  10.976485  36.365950  120.483226
3    10.737851      72   4.124642  39.734710   3.315702   6.037584   10.993879
4     1.161365      46   2.890150  34.650709   1.081256   1.124327    1.169114
..         ...     ...        ...        ...        ...        ...         ...
564   2.625403      20   1.424376  33.477545   0.280766   0.148770    0.078829
565   1.276386      61   2.109048  26.300732   1.006439   1.009674    1.012919
566   1.953869     117   6.241870  41.153979   3.796779   7.398146   14.415527
567   1.318527      46   7.902237  66.720139   2.763817   4.594771    7.638684
568   2.832391     161   6.804085  36.618435   4.521459   9.614303   20.443587

[569 rows x 7 columns]

In [49]:
model2 = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)+out2+out3+out4').fit()
model2.params

Intercept         -4.048210
np.log(capital)    0.126006
np.log(labour)     0.616737
np.log(wage)       0.731668
out2               0.068899
out3              -0.005558
out4              -0.000134
dtype: float64

In [50]:
R2_un = model2.rsquared
R2_re = model.rsquared

In [51]:
F_obs = (R2_un - R2_re)/(1-R2_un)*(len(df)-7)/3
F_obs.round(3)

10.595

In [52]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(3)

2.621

$ F_{obs} > F_{cr} \Rightarrow H_0$ отвеграем

# Задача 1.5 output equation #3

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [66]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+labour+(labour**2)+np.log(wage)').fit()
hat_y = model.predict()

In [67]:
hat_y

array([ 1.8381479 ,  1.148544  ,  2.9138635 ,  2.34254438,  1.2459745 ,
        7.46996719,  1.35661241,  1.18764945,  1.12974183,  1.69008591,
        1.07678602,  1.0870282 ,  1.45004743,  0.94044655,  1.33081122,
        1.59377779, -0.1597961 ,  2.30854169,  1.35831001,  0.58215871,
       -0.05247648,  1.98503336,  1.46888352,  1.52797977,  1.19938528,
        1.80065473,  2.0063883 ,  2.16594978,  2.09773687,  1.45811185,
        0.37844699,  1.81584236,  2.13664056,  1.3945006 ,  2.05776207,
        0.82523707,  2.02433467,  2.37019293,  1.48836192,  1.17579181,
        2.29338815,  0.98771568,  1.49659526,  0.4972591 ,  1.8933043 ,
        1.64662397,  2.77307897,  1.7983176 ,  1.55930047,  1.02940031,
        1.94145181,  0.96411491,  3.46094438,  4.70541386,  2.22194623,
        5.41947735,  0.91866084,  1.47900039,  0.73803718,  0.95430253,
        2.36017539,  3.05401164,  2.26193333,  1.46371221,  1.1466689 ,
        2.03157218,  0.98603549,  2.2041357 ,  2.16054274,  3.32203811,
        0.73731574,  3.12866181,  1.34397294,  1.99804106,  2.10008354,
        1.16332508,  1.45168176,  2.73581994,  1.31838372,  1.68296111,
        2.0224333 ,  1.33568101,  0.59856314,  0.85166149,  1.39210933,
        3.14955444,  1.73373303,  2.05015983,  1.89849775,  1.16093971,
        1.54867834,  2.1712573 ,  0.79467922,  0.59818797,  1.23043968,
        1.25175533,  2.07903543,  2.42957607,  1.60423817,  1.91049181,
        1.48291409,  1.85438605,  3.24047537,  1.85788285,  1.60586681,
        2.35303877,  3.41665062,  1.232451  ,  2.95379648,  0.85690044,
        1.97430548,  3.38117083,  2.06744471,  1.09219377,  1.33349113,
        1.75292602,  1.03851976,  2.84185009,  1.44045726,  1.93467578,
        0.89605185,  1.45724987,  2.30686335,  1.51399089,  1.06311708,
        2.06326722,  0.83320904,  2.00190286,  5.74262019,  2.52246492,
        2.0043989 ,  1.51378291,  1.36404021,  1.14507864,  1.2259298 ,
        2.0769364 ,  1.64120045,  1.09059249,  1.17031292,  2.54644689,
        0.43229615,  2.78487883,  2.14512334,  1.14268527,  2.93265837,
        0.86622884,  1.11819656,  0.58359629,  2.32911851,  1.78045521,
       -0.57989331,  0.93447314,  1.09515596,  1.03262403,  2.14333215,
        2.96927202,  1.511054  ,  0.89307894,  1.23035593,  1.07106597,
        1.58171207,  3.4768661 ,  2.14145253,  1.25676523,  0.37678753,
        2.73702597,  2.06295891,  0.99522894,  1.23638221,  1.06776392,
        1.14859781,  1.69941516,  1.41866145,  3.95433236,  1.69152921,
        2.65081719,  1.41671575,  1.04923967,  2.23832476,  2.05033667,
        1.65595472,  1.49012442,  1.76601758,  2.00130538,  1.09362454,
        1.59829186,  1.04191194,  3.58756642,  2.32413063,  1.38399979,
        3.53972885,  1.73792853,  1.65461772,  1.58118866,  0.84968279,
        2.36035391,  1.82273504, -0.74206421,  1.37866909,  1.96285226,
        1.42488076,  2.55732447,  2.05686253,  1.38081758,  2.40326408,
        2.9432451 ,  3.59925501,  0.94645971,  1.96763713,  2.26720393,
        2.2075701 ,  1.40404013,  1.40418199,  1.38223309, -0.6455423 ,
        1.15173763,  2.45174834,  3.34549498,  1.57740168,  0.5124464 ,
        1.80270494,  2.6059385 ,  2.06504584,  2.14994918,  2.11216686,
        2.06624058,  2.77853597,  0.15211257,  1.49568845,  1.73080688,
        1.97771469, -0.23565131,  0.32256834,  2.80244325,  1.46675437,
        1.74205611,  0.85209776,  1.39410662,  1.03005891,  1.59811469,
        1.33397858,  1.32292896,  1.26415503,  1.75648538,  2.69121815,
        3.04678037,  2.8013504 ,  1.42581247,  1.82378973,  1.18353299,
       -0.86060676,  1.17147571,  1.48332297,  2.82797305,  0.19370071,
       -0.59529174,  0.33040282,  1.25764077,  1.48758494,  1.52812862,
        1.40145891,  2.24165002,  1.95781258,  1.72653317,  0.76311292,
        1.69394245,  2.45756783,  1.68607268,  0.62775901,  0.82025629,
        1.62626251,  1.54688788,  1.41682761,  3.41158573,  1.6360699 ,
        1.81560881,  0.8372175 ,  1.50314502,  1.79629514,  0.8338194 ,
        1.64710635,  3.52977674,  1.51348991,  2.60813675,  2.59414805,
        2.25311125,  0.59965971,  0.93092066,  4.04791465,  0.6043658 ,
        1.36254714,  1.64710593,  1.95326943,  1.60321375,  1.92243878,
        1.02373223,  1.49236499,  2.67131117,  1.39834134,  1.0074643 ,
        1.38253603, -1.35791061,  0.04644031,  2.50070331,  1.8077258 ,
        0.88442267,  2.0080294 ,  0.9835325 ,  0.89157512,  1.61114723,
        1.44573291,  1.60156431, -0.28091504,  1.89983815,  2.19868589,
        0.15497514,  2.19065608,  0.8541972 ,  1.44160224,  1.35941096,
        1.2017509 ,  1.94553863,  2.56848396,  2.71188937,  0.75353457,
        0.90852314,  2.32378982,  2.19948732,  1.12650511,  1.32773977,
        1.77552891,  1.47100492,  2.24888453,  0.63159707,  1.52076172,
        1.31920827,  1.73340481,  3.54774314,  1.7800346 ,  1.61713204,
        2.90400482,  1.47169368,  2.2354906 ,  4.8009709 ,  1.12235876,
        2.50320789,  1.83146735,  1.88440923,  1.46115341,  1.69799751,
        0.45924454,  2.10085408,  1.56256031,  2.12212291,  2.40350798,
        1.54347678, -0.72394375,  2.05621045,  1.17529357, 10.30895069,
        2.63671029,  2.48418869,  1.33151917,  1.22539192,  1.44056578,
        1.47117693,  2.46652251,  1.40004318,  1.4616895 ,  1.34847365,
        1.62906417,  1.66274005,  2.91440936,  1.45783248,  2.76838688,
        1.96030765,  2.06211471,  2.11429039,  2.93219572,  0.68711737,
        1.93026346,  1.1293077 ,  2.02306783,  1.39651417,  1.80269676,
        1.28175149,  2.24019574,  1.24208827,  1.11915045,  2.62992404,
        2.52552951,  2.83522158,  1.82033327,  0.84769869,  1.92970654,
        2.72904536,  2.43311254,  1.97540024,  1.73003289, -0.03020675,
        1.6457734 ,  1.34318128,  1.26455603,  0.11056815,  2.39740247,
        1.46284485,  0.94735971,  2.35754484,  1.21778037,  1.00823845,
        3.31072438,  1.46263404,  0.55167235,  1.58717863,  1.55197479,
        0.94077548,  2.6215908 ,  1.56735507,  1.12049778,  1.65284138,
        0.89291648,  4.0246153 ,  1.84139777,  2.11213153,  0.94920119,
        1.66060482,  3.26111599,  1.1198341 ,  2.57348142, -1.56247466,
        2.31454698,  2.26248495,  2.785234  ,  2.03627294,  0.46326614,
        1.72681713,  1.64871013,  1.24945527,  0.51274754,  1.51977756,
        0.54210025,  2.64860327,  0.98881792,  1.32288409,  0.82453927,
        1.22001013,  1.89731036,  1.37273429,  0.9411708 ,  1.1464159 ,
        1.83167913,  1.83761563,  0.94261406,  1.17586707,  1.44533742,
        0.65911831,  1.50149648,  1.04629705,  1.92458825, -0.45393399,
        1.88483817,  2.61240169,  1.49987969,  1.16662492,  1.65762381,
        1.64242666,  1.24953209,  1.63241775,  1.13118812,  2.91445513,
        2.05268718,  2.02451536,  1.30176641,  1.19665419,  0.99809703,
        0.86486028,  3.08831395,  1.00173518,  1.90651488,  0.85276095,
        1.09770729,  0.6832421 ,  0.57931861,  1.64322593,  1.14724883,
        2.68590784,  1.01785832,  2.07269286,  1.11671757,  1.4008529 ,
        0.3969481 ,  1.8241587 ,  3.58075818,  1.55409633,  1.15892779,
        3.67933769,  2.17438291,  1.74518044,  2.32107635,  0.58558991,
        2.33261817,  0.97667958,  1.29642163,  1.36784541,  1.98862793,
        2.1424299 ,  4.84461155,  1.38678476,  1.2145919 ,  1.49176856,
        1.19916097,  2.07410132,  1.62438706,  2.57989379,  1.58785612,
        2.22202537,  0.80715983,  2.39226866,  0.80623783,  0.91522537,
        1.64927759,  2.48306539,  1.36360505,  0.93412187,  2.48558642,
        1.89496521,  1.86916208,  2.58824112,  1.42772426,  0.65328604,
        2.09943714,  0.61532054,  1.39876291,  1.33161755,  1.14491752,
        0.2792174 ,  0.12314017,  1.67594287,  3.02854958,  1.50988663,
        1.93582789,  0.82124897,  1.87438275,  1.16156903,  2.90825734,
        1.20133833,  1.94158385,  1.60799636,  1.46338875,  0.66273761,
       -0.40828763,  2.19930122,  1.04924214,  1.53398656,  1.3204786 ,
        2.14585721,  1.70883983,  2.04906844,  1.24606688,  1.93447309,
        2.06488218,  1.43593633,  1.59255506,  1.11134034,  1.56420923,
        1.0752167 ,  1.64405998,  1.82249463,  1.73465557])

In [68]:
df['out2'] = hat_y**2
df['out3'] = hat_y**3
df['out4'] = hat_y**4
df

       capital  labour     output       wage      out2       out3       out4
0     2.606563     184   9.250759  43.080307  3.378788   6.210711  11.416206
1     1.323237      91   3.664310  27.780016  1.319153   1.515106   1.740165
2    22.093692     426  28.781516  44.467748  8.490600  24.740451  72.090297
3    10.737851      72   4.124642  39.734710  5.487514  12.854746  30.112812
4     1.161365      46   2.890150  34.650709  1.552452   1.934316   2.410109
..         ...     ...        ...        ...       ...        ...        ...
564   2.625403      20   1.424376  33.477545  2.446751   3.827230   5.986588
565   1.276386      61   2.109048  26.300732  1.156091   1.243048   1.336546
566   1.953869     117   6.241870  41.153979  2.702933   4.443784   7.305848
567   1.318527      46   7.902237  66.720139  3.321487   6.053392  11.032274
568   2.832391     161   6.804085  36.618435  3.009030   5.219631   9.054261

[569 rows x 7 columns]

In [69]:
model2 = smf.ols(data=df, formula='np.log(output)~np.log(capital)+labour+labour**2+np.log(wage)+out2+out3+out4').fit()
model2.params

Intercept         -1.982043
np.log(capital)    0.259583
labour             0.001763
np.log(wage)       0.733601
out2               0.370258
out3              -0.112871
out4               0.006103
dtype: float64

In [70]:
R2_un = model2.rsquared
R2_re = model.rsquared

In [71]:
F_obs = (R2_un - R2_re)/(1-R2_un)*(len(df)-7)/3
F_obs.round(3)

60.976

In [72]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(3)

2.621

$ F_{obs} > F_{cr} \Rightarrow H_0$ отвеграем