In [11]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

# 1 F-тест: значимость регрессии

# Задача 1.1 sleep equation #1

In [40]:
datа_string = '''
Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
AdjustedR2     0.121       0.123       0.121       0.002 '''

In [41]:
df = pd.read_csv(io.StringIO(datа_string), sep = '\s+', header=None, index_col=0)
df

                    1        2        3        4
0
Observations  706.000  706.000  706.000  706.000
R2              0.132    0.131    0.128    0.007
AdjustedR2      0.121    0.123    0.121    0.002

In [42]:
df = df.transpose()
df

0  Observations     R2  AdjustedR2
1         706.0  0.132       0.121
2         706.0  0.131       0.123
3         706.0  0.128       0.121
4         706.0  0.007       0.002

In [43]:
df['m'] = [10,8,6,5]
df

0  Observations     R2  AdjustedR2   m
1         706.0  0.132       0.121  10
2         706.0  0.131       0.123   8
3         706.0  0.128       0.121   6
4         706.0  0.007       0.002   5

In [44]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2   m      F_nab
1         706.0  0.132       0.121  10  11.760369
2         706.0  0.131       0.123   8  15.031728
3         706.0  0.128       0.121   6  20.550459
4         706.0  0.007       0.002   5   1.235398

In [45]:
alpha = 0.05
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr
1         706.0  0.132       0.121  10  11.760369  1.893317
2         706.0  0.131       0.123   8  15.031728  2.022681
3         706.0  0.128       0.121   6  20.550459  2.226901
4         706.0  0.007       0.002   5   1.235398  2.384638

In [47]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr  znachimost
1         706.0  0.132       0.121  10  11.760369  1.893317    znachima
2         706.0  0.131       0.123   8  15.031728  2.022681    znachima
3         706.0  0.128       0.121   6  20.550459  2.226901    znachima
4         706.0  0.007       0.002   5   1.235398  2.384638  neznachimo

$$H_0: \beta_{0} = \beta_{1} = \dots = 0$$
$$H_1: \beta_{0}^2 + \beta_{1}^2  + \dots + \beta_k^2 > 0$$

# Задача 1.2 cost equation #1

In [27]:
date_string = '''
Observations   158       158       158       158      158  
R2             0.982     0.965     0.982     0.053    0.026 
Adjusted_R2    0.982     0.965     0.982     0.035    0.020'''

In [28]:
df = pd.read_csv(io.StringIO(date_string), sep = '\s+', header=None, index_col=0)
df

                    1        2        3        4        5
0
Observations  158.000  158.000  158.000  158.000  158.000
R2              0.982    0.965    0.982    0.053    0.026
Adjusted_R2     0.982    0.965    0.982    0.035    0.020

In [29]:
df = df.transpose()
df

0  Observations     R2  Adjusted_R2
1         158.0  0.982        0.982
2         158.0  0.965        0.965
3         158.0  0.982        0.982
4         158.0  0.053        0.035
5         158.0  0.026        0.020

In [30]:
df['m'] = [5,2,4,4,2]
df

0  Observations     R2  Adjusted_R2  m
1         158.0  0.982        0.982  5
2         158.0  0.965        0.965  2
3         158.0  0.982        0.982  4
4         158.0  0.053        0.035  4
5         158.0  0.026        0.020  2

In [34]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df.round(2)

0  Observations    R2  Adjusted_R2  m    F_nab  F_cr
1         158.0  0.98         0.98  5  2086.75  3.44
2         158.0  0.96         0.96  2  4301.14  6.80
3         158.0  0.98         0.98  4  2800.52  3.91
4         158.0  0.05         0.04  4     2.87  3.91
5         158.0  0.03         0.02  2     4.16  6.80

In [33]:
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df.round(3)

0  Observations     R2  Adjusted_R2  m     F_nab   F_cr
1         158.0  0.982        0.982  5  2086.750  3.444
2         158.0  0.965        0.965  2  4301.143  6.800
3         158.0  0.982        0.982  4  2800.519  3.911
4         158.0  0.053        0.035  4     2.873  3.911
5         158.0  0.026        0.020  2     4.164  6.800

In [36]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df.round(3)

0  Observations     R2  Adjusted_R2  m     F_nab   F_cr  znachimost
1         158.0  0.982        0.982  5  2086.750  3.444    znachima
2         158.0  0.965        0.965  2  4301.143  6.800    znachima
3         158.0  0.982        0.982  4  2800.519  3.911    znachima
4         158.0  0.053        0.035  4     2.873  3.911  neznachimo
5         158.0  0.026        0.020  2     4.164  6.800  neznachimo

$$H_0: \beta_{0} = \beta_{1} = \dots = 0$$
$$H_1: \beta_{0}^2 + \beta_{1}^2  + \dots + \beta_k^2 > 0$$

# Задача 1.3 sleep equation #2

In [54]:
data_string = '''
Observations            706         706         706         706    
R2                     0.118       0.022       0.015       0.007   
Adjusted_R2            0.110       0.014       0.012       0.002   
Residual_Std.Error   419.371     441.301     441.775     444.018  
F_Statistic          13.387    2.663    5.224      1.314'''

In [55]:
df = pd.read_csv(io.StringIO(data_string), sep = '\s+', header=None, index_col=0)
df

                          1        2        3        4
0
Observations        706.000  706.000  706.000  706.000
R2                    0.118    0.022    0.015    0.007
Adjusted_R2           0.110    0.014    0.012    0.002
Residual_Std.Error  419.371  441.301  441.775  444.018
F_Statistic          13.387    2.663    5.224    1.314

In [56]:
df = df.transpose()
df

0  Observations     R2  Adjusted_R2  Residual_Std.Error  F_Statistic
1         706.0  0.118        0.110             419.371       13.387
2         706.0  0.022        0.014             441.301        2.663
3         706.0  0.015        0.012             441.775        5.224
4         706.0  0.007        0.002             444.018        1.314

In [57]:
df['m'] = [8,7,3,5]
df

0  Observations     R2  Adjusted_R2  Residual_Std.Error  F_Statistic  m
1         706.0  0.118        0.110             419.371       13.387  8
2         706.0  0.022        0.014             441.301        2.663  7
3         706.0  0.015        0.012             441.775        5.224  3
4         706.0  0.007        0.002             444.018        1.314  5

In [58]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df.round(2)

0  Observations    R2  Adjusted_R2  Residual_Std.Error  F_Statistic  m  F_nab
1         706.0  0.12         0.11              419.37        13.39  8  13.34
2         706.0  0.02         0.01              441.30         2.66  7   2.62
3         706.0  0.02         0.01              441.78         5.22  3   5.35
4         706.0  0.01         0.00              444.02         1.31  5   1.24

In [59]:
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df.round(3)

,Observations,R2,Adjusted_R2,Residual_Std.Error,F_Statistic,m,F_nab,F_cr
1,706.0,0.118,0.110,419.371,13.387,8,13.340,2.665
2,706.0,0.022,0.014,441.301,2.663,7,2.621,2.828
3,706.0,0.015,0.012,441.775,5.224,3,5.353,4.635
4,706.0,0.007,0.002,444.018,1.314,5,1.235,3.346

In [60]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df.round(3)

,Observations,R2,Adjusted_R2,Residual_Std.Error,F_Statistic,m,F_nab,F_cr,znachimost
1,706.0,0.118,0.110,419.371,13.387,8,13.340,2.665,znachima
2,706.0,0.022,0.014,441.301,2.663,7,2.621,2.828,neznachimo
3,706.0,0.015,0.012,441.775,5.224,3,5.353,4.635,znachima
4,706.0,0.007,0.002,444.018,1.314,5,1.235,3.346,neznachimo

$$H_0: \beta_{0} = \beta_{1} = \dots = 0$$
$$H_1: \beta_{0}^2 + \beta_{1}^2  + \dots + \beta_k^2 > 0$$

# Задача 1.4 cost equation #2

In [61]:
data_string = '''
Observations            158         158         158        158      158  
R2                     0.992       0.976       0.982      0.053    0.026 
Adjusted_R2            0.992       0.976       0.982      0.035    0.020 
Residual_Std.Error    0.138       0.239       0.209      1.516    1.527 
F_Statistic         3880.407 3185.767 2106.934  2.881  4.158'''

In [62]:
df = pd.read_csv(io.StringIO(data_string), sep = '\s+', header=None, index_col=0)
df

                           1         2         3        4        5
0
Observations         158.000   158.000   158.000  158.000  158.000
R2                     0.992     0.976     0.982    0.053    0.026
Adjusted_R2            0.992     0.976     0.982    0.035    0.020
Residual_Std.Error     0.138     0.239     0.209    1.516    1.527
F_Statistic         3880.407  3185.767  2106.934    2.881    4.158

In [63]:
df = df.transpose()
df

0  Observations     R2  Adjusted_R2  Residual_Std.Error  F_Statistic
1         158.0  0.992        0.992               0.138     3880.407
2         158.0  0.976        0.976               0.239     3185.767
3         158.0  0.982        0.982               0.209     2106.934
4         158.0  0.053        0.035               1.516        2.881
5         158.0  0.026        0.020               1.527        4.158

In [64]:
df['m'] = [6,3,5,4,2]
df

0  Observations     R2  Adjusted_R2  Residual_Std.Error  F_Statistic  m
1         158.0  0.992        0.992               0.138     3880.407  6
2         158.0  0.976        0.976               0.239     3185.767  3
3         158.0  0.982        0.982               0.209     2106.934  5
4         158.0  0.053        0.035               1.516        2.881  4
5         158.0  0.026        0.020               1.527        4.158  2

In [65]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df.round(2)

,Observations,R2,Adjusted_R2,Residual_Std.Error,F_Statistic,m,F_nab
1,158.0,0.99,0.99,0.14,3880.41,6,3769.60
2,158.0,0.98,0.98,0.24,3185.77,3,3151.67
3,158.0,0.98,0.98,0.21,2106.93,5,2086.75
4,158.0,0.05,0.04,1.52,2.88,4,2.87
5,158.0,0.03,0.02,1.53,4.16,2,4.16

In [66]:
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df.round(3)

,Observations,R2,Adjusted_R2,Residual_Std.Error,F_Statistic,m,F_nab,F_cr
1,158.0,0.992,0.992,0.138,3880.407,6,3769.600,3.140
2,158.0,0.976,0.976,0.239,3185.767,3,3151.667,4.745
3,158.0,0.982,0.982,0.209,2106.934,5,2086.750,3.444
4,158.0,0.053,0.035,1.516,2.881,4,2.873,3.911
5,158.0,0.026,0.020,1.527,4.158,2,4.164,6.800

In [67]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df.round(3)

,Observations,R2,Adjusted_R2,Residual_Std.Error,F_Statistic,m,F_nab,F_cr,znachimost
1,158.0,0.992,0.992,0.138,3880.407,6,3769.600,3.140,znachima
2,158.0,0.976,0.976,0.239,3185.767,3,3151.667,4.745,znachima
3,158.0,0.982,0.982,0.209,2106.934,5,2086.750,3.444,znachima
4,158.0,0.053,0.035,1.516,2.881,4,2.873,3.911,neznachimo
5,158.0,0.026,0.020,1.527,4.158,2,4.164,6.800,neznachimo

# 2 F-тест: совместная значимость

#  Задача 2.1 sleep equation #1

$$H_0: \beta_{marr} = \beta_{union} = \beta_{ynkid} = \beta_{smsa} = 0$$
$$H_1: \beta_{marr}^2 + \beta_{union}^2  + \beta_{unkid} + \beta_{smsa}^2 > 0$$

In [68]:
unrest ,rest = np.float_( re.findall(r'([-+]?\d+.\d+)', 'R2                     0.131          0.127   '))
print(unrest,rest)

0.131 0.127

In [69]:
F_obs = (unrest - rest)/(1 - unrest)*(706 - 9)/(4)
F_obs.round(3)

0.802

In [70]:
alpha = 0.05
F_crit = stats.f.ppf(1 - alpha, 4, 706 - 9)
F_crit.round(3)

2.385

$F_{obs} < F_{cr}$ следовательно данные согласуются с $H_0$. Коэффициенты совместно незначимы

#  Задача 2.2 sleep equation #2

$$H_0: \beta_{age} = \beta_{age}^2 = 0$$
$$H_1: \beta_{age} + \beta_{age}^2 > 0$$

In [72]:
unrest ,rest = np.float_( re.findall(r'([-+]?\d+.\d+)', 'R2                      0.128          0.122  '))
print(unrest,rest)

0.128 0.122

In [75]:
F_obs = (unrest - rest)/(1 - unrest)*(706 - 6)/(2)
F_obs.round(3)

2.408

In [82]:
alpha = 0.01
F_crit = stats.f.ppf(1 - alpha, 2, 706 - 6)
F_crit.round(3)

4.636

$F_{obs} < F_{cr}$ следовательно данные согласуются с $H_0$. Коэффициенты совместно незначимы

#  Задача 2.3 sleep equation #3

$$H_0: \beta_{male} = \beta_{male*totwrk} = 0$$
$$H_1: \beta_{male} + \beta_{male*totwrk} > 0$$

In [84]:
unrest ,rest = np.float_( re.findall(r'([-+]?\d+.\d+)', 'R2                      0.129          0.119 '))
print(unrest,rest)

0.129 0.119

In [85]:
F_obs = (unrest - rest)/(1 - unrest)*(706 - 7)/(2)
F_obs.round(3)

4.013

In [86]:
alpha = 0.01
F_crit = stats.f.ppf(1 - alpha, 2, 706 - 7)
F_crit.round(3)

4.636

$F_{obs} < F_{cr}$ следовательно данные согласуются с $H_0$. Коэффициенты совместно незначимы

#  Задача 2.4 wage equation #1

$$H_0: \beta_{age} = \beta_{age^2} = 0$$
$$H_1: \beta_{age} + \beta_{age^2} > 0$$

In [87]:
unrest ,rest = np.float_( re.findall(r'([-+]?\d+.\d+)', 'R2                      0.201          0.175  '))
print(unrest,rest)

0.201 0.175

In [89]:
F_obs = (unrest - rest)/(1 - unrest)*(935 - 7)/(2)
F_obs.round(3)

15.099

In [90]:
alpha = 0.01
F_crit = stats.f.ppf(1 - alpha, 2, 935 - 7)
F_crit.round(3)

4.628

$F_{obs} > F_{cr}$ следовательно данные согласуются с $H_1$. Коэффициенты совместно значимы

# 3 F-тест: структурные ограничения

# Задача 3.1 cost equation

In [3]:
data2 = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
data2.shape

(158, 8)

In [8]:
mod31 =smf.ols(formula='np.log(cost) ~ np.log(q)+I(np.log(q)**2)+np.log(pl)+np.log(pk)+np.log(pf)', data=data2)
сost_eq31 = mod31.fit()
сost_eq31.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(cost)   R-squared:                       0.992
Model:                            OLS   Adj. R-squared:                  0.992
Method:                 Least Squares   F-statistic:                     3880.
Date:                Fri, 31 Mar 2023   Prob (F-statistic):          2.45e-158
Time:                        16:16:53   Log-Likelihood:                 91.515
No. Observations:                 158   AIC:                            -171.0
Df Residuals:                     152   BIC:                            -152.7
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -6.7387      0.706     -9.541      0.000      -8.134      -5.343
np.log(q)             0.4030      0.032     12.734      0.000       0.340       0.466
I(np.log(q) ** 2)     0.0304      0.002     14.024      0.000       0.026       0.035
np.log(pl)            0.1461      0.070      2.073      0.040       0.007       0.285
np.log(pk)            0.1571      0.058      2.721      0.007       0.043       0.271
np.log(pf)            0.6847      0.043     16.043      0.000       0.600       0.769
==============================================================================
Omnibus:                        2.342   Durbin-Watson:                   1.798
Prob(Omnibus):                  0.310   Jarque-Bera (JB):                2.078
Skew:                           0.109   Prob(JB):                        0.354
Kurtosis:                       3.518   Cond. No.                     4.99e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.99e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
alpha = 0.01 
print('Уровень значимости alpha: ', alpha)
df = int(сost_eq31.df_resid)
t_crit = stats.t.ppf(1-alpha/2, df)
print('Критическое значение t_crit: ', t_crit.round(3))

Уровень значимости alpha:  0.01
Критическое значение t_crit:  2.609

In [15]:
table2 = pd.read_html(сost_eq31.summary().tables[1].as_html(), header=0, index_col=0)[0] 
table2['significance'] = table2.apply(lambda x : 'Значим' if np.abs(x['t']) > t_crit else 'Незначим', axis = 1 )
table2

                     coef  std err       t  P>|t|  [0.025  0.975] significance
Intercept         -6.7387    0.706  -9.541  0.000  -8.134  -5.343       Значим
np.log(q)          0.4030    0.032  12.734  0.000   0.340   0.466       Значим
I(np.log(q) ** 2)  0.0304    0.002  14.024  0.000   0.026   0.035       Значим
np.log(pl)         0.1461    0.070   2.073  0.040   0.007   0.285     Незначим
np.log(pk)         0.1571    0.058   2.721  0.007   0.043   0.271       Значим
np.log(pf)         0.6847    0.043  16.043  0.000   0.600   0.769       Значим

# 3.1.1 Гипотеза 1

$$H_0: \beta_{pf}+\beta_{pl}+\beta_{pk}=1$$

# Интерпритация

Постоянная отдача  от  $log(pl), log(pk)$ и $log(pf)$

In [17]:
print(сost_eq31.f_test("np.log(pl)+np.log(pk)+np.log(pf) = 1"))

<F test: F=0.01454118487627077, p=0.9041775484872097, df_denom=152, df_num=1>

In [18]:
alpha = 0.01 
print('Уровень значимости alpha: ', alpha)
dfn = int(1) 
dfd = int(сost_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.01
J = 1 ,  n-k-1 = 152
F-critical:  6.805

Гипотезу 1 не отвергаем

# 3.1.2 Гипотеза 2

$$H_0: \beta_{pl} = \beta_{pk}$$

Интерпретация: отдача от $log(pl)$ и отдача от $log(pk)$ равны

In [21]:
print(сost_eq31.f_test("np.log(pl) = np.log(pk)"))

<F test: F=0.02008627589852221, p=0.8874840609151121, df_denom=152, df_num=1>

In [22]:
alpha = 0.01
print('Уровень значимости alpha: ', alpha)
dfn = int(1) 
dfd = int(сost_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.01
J = 1 ,  n-k-1 = 152
F-critical:  6.805

Гипотезу 2 не отвергаем

# 3.1.3 Гипотеза 3

$$H_0: \beta_{pf} = \beta_{pl} = \beta_{pk}$$

Интерпритация: отдача от $log(pf)$, отадча от $log(pl)$ и отдача от $log(pk)$ равны

In [24]:
print(сost_eq31.f_test("np.log(pf)=np.log(pl)=np.log(pk)"))

<F test: F=26.41708068625231, p=1.424069501505384e-10, df_denom=152, df_num=2>

In [25]:
alpha = 0.01 
print('Уровень значимости alpha: ', alpha)
dfn = int(2) 
dfd = int(сost_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.01
J = 2 ,  n-k-1 = 152
F-critical:  4.748

Гипотезу 3 отвергаем

# Задача 3.2 output equation

In [26]:
data3 = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
data3.shape

(569, 4)

In [27]:
mod32 =smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=data3)
output_eq31 = mod32.fit()
output_eq31.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(output)   R-squared:                       0.888
Model:                            OLS   Adj. R-squared:                  0.888
Method:                 Least Squares   F-statistic:                     1499.
Date:                Fri, 31 Mar 2023   Prob (F-statistic):          1.65e-268
Time:                        17:10:01   Log-Likelihood:                -279.62
No. Observations:                 569   AIC:                             567.2
Df Residuals:                     565   BIC:                             584.6
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -5.0073      0.221    -22.649      0.000      -5.442      -4.573
np.log(capital)     0.1493      0.015     10.141      0.000       0.120       0.178
np.log(labour)      0.7204      0.019     37.487      0.000       0.683       0.758
np.log(wage)        0.9214      0.058     16.001      0.000       0.808       1.034
==============================================================================
Omnibus:                      252.010   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3723.965
Skew:                           1.547   Prob(JB):                         0.00
Kurtosis:                      15.145   Cond. No.                         82.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [28]:
alpha = 0.05 
print('Уровень значимости alpha: ', alpha)
DF = int(output_eq31.df_resid)
t_crit = stats.t.ppf(1-alpha/2, DF)
print('Критическое значение t_crit: ', t_crit.round(3))

Уровень значимости alpha:  0.05
Критическое значение t_crit:  1.964

In [29]:
table2 = pd.read_html(output_eq31.summary().tables[1].as_html(), header=0, index_col=0)[0]
table2['significance'] = table2.apply(lambda x : 'Значим' if np.abs(x['t']) > t_crit else 'Незначим', axis = 1 )
table2

                   coef  std err       t  P>|t|  [0.025  0.975] significance
Intercept       -5.0073    0.221 -22.649    0.0  -5.442  -4.573       Значим
np.log(capital)  0.1493    0.015  10.141    0.0   0.120   0.178       Значим
np.log(labour)   0.7204    0.019  37.487    0.0   0.683   0.758       Значим
np.log(wage)     0.9214    0.058  16.001    0.0   0.808   1.034       Значим

# 3.2.1 Гипотеза 1

$$H_0: \beta_{capital} + \beta_{labour} + \beta_{wage} = 1$$

Интерпретация: Постоянная отдача от масштаба

In [30]:
A = output_eq31.f_test("np.log(capital)+np.log(labour)+np.log(wage) = 1")
print(A.fvalue)
print(A.pvalue)
print(A.df_denom)
print(A.df_num)
print(output_eq31.f_test("np.log(capital)+np.log(labour)+np.log(wage) = 1"))

198.5869331584923
7.280959454662307e-39
565.0
1.0
<F test: F=198.5869331584923, p=7.280959454662307e-39, df_denom=565, df_num=1>

In [31]:
type(output_eq31.f_test("np.log(capital)+np.log(labour)+np.log(wage) = 1"))

statsmodels.stats.contrast.ContrastResults

In [32]:
alpha = 0.05
print('Уровень значимости alpha: ', alpha)
dfn = int(1) 
dfd = int(output_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.05
J = 1 ,  n-k-1 = 565
F-critical:  3.858

In [33]:
F_stat = A.fvalue
if (F_stat > F_crit):
    print('Гипотеза 1 отвергается')
else:
    print('Гипотеза 1 не отвергается')

Гипотеза 1 отвергается

# 3.2.2 Гипотеза 2

$$H_0: \beta_{labour} = \beta_{wage}$$

Интерпретация: отдача от labour и отдача от wage равны

In [34]:
print(output_eq31.f_test("np.log(labour)=np.log(wage)"))

<F test: F=11.080978246342188, p=0.0009289780461988841, df_denom=565, df_num=1>

In [35]:
alpha = 0.05
print('Уровень значимости alpha: ', alpha)
dfn = int(1) 
dfd = int(output_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.05
J = 1 ,  n-k-1 = 565
F-critical:  3.858

In [36]:
F_stat = A.fvalue
if (F_stat > F_crit):
    print('Гипотеза 2 отвергается')
else:
    print('Гипотеза 2 не отвергается')

Гипотеза 2 отвергается

# 3.2.3 Гипотеза 3

$$H_0: \beta_{capital} + \beta_{labour} + \beta_{wage}$$

Интерпретация: отдача от capital, отдача от labour и отдача от wage равны

In [41]:
print(output_eq31.f_test("np.log(capital)=np.log(labour)=np.log(wage)"))

<F test: F=192.36687126560258, p=1.9105516323872783e-64, df_denom=565, df_num=2>

In [42]:
alpha = 0.05
print('Уровень значимости alpha: ', alpha)
dfn = int(2) 
dfd = int(output_eq31.df_resid) 
print("J =", dfn,", ", "n-k-1 =", dfd)
F_crit = stats.f.ppf(1-alpha, dfn, dfd)
print("F-critical: ", F_crit.round(3))

Уровень значимости alpha:  0.05
J = 2 ,  n-k-1 = 565
F-critical:  3.012

In [40]:
F_stat = A.fvalue
if (F_stat > F_crit):
    print('Гипотеза 3 отвергается')
else:
    print('Гипотеза 3 не отвергается')

Гипотеза 3 отвергается